<a data-toggle="modal" data-target="#modal-content-<%= index %>" href="#">
  <%= product_type.name %>
</a>




<div class="modal hide fade" id="modal-content-<%= index %>">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4> <%= "#{t(:edit)} #{t(:product_type)}" %> </h4>
  </div>
  <%= form_for product_type do |form| %>
    <div class="modal-body form-inline">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <%= form.submit  t(:update), :class => "btn btn-success" %>
    </div>
  <% end %>
</div>