<%= render :partial => "/shared/app_settings_tabs" %>


<h3>
  <%= t(:product_types) %>
  <%= render  :partial => "/product_types/new_product_type", 
              :locals => {:new_product_type => @new_product_type} %>
</h3>



<% if @product_types.blank? %>
  <%= render  :partial => "/shared/nothing_to_display" %>
<% else %>
  <table class="table table-striped">
    <thead>
      <th> <%= t(:title) %> </th>
      <th> </th>
    </thead>
    <tbody>
      <% @product_types.each_with_index do |product_type, index| %>
        <tr>
          <td> 
            <%= render  :partial => "/product_types/edit_product_type", 
                        :locals => {:product_type => product_type, :index => index } %>
          </td>
          <td> 
            <%= render  :partial => "/shared/delete_button", 
                        :locals  => {:path => url_for(product_type)} %>
          </td>
        </tr>  
      <% end %>
    </tbody>
  </table>
<% end %>

