<h2> 
  <%= t(:product_types) %> 
  <%= link_to "#{content_tag :em, '', :class => 'icon-plus'}
               #{t(:new_product_type)}".html_safe, "#", :class => "modal_trigger" %>
</h2>


<%= render :partial => "/shared/app_settings_tabs" %>


<%= render  :partial => "/product_types/new_product_type", 
            :locals => {:@new_product_type => @new_product_type} %>


<% if !@product_types.empty? %>
  <table class="table table-striped">
    <thead>
      <th> <%= t(:title) %> </th>
      <th> </th>
    </thead>
    <tbody>
      <% @count = 0 %>
      <% @product_types.each do |product_type| %>
        <tr>
          <td> 
            <%= link_to "#{content_tag :em, '', :class => ''}
                         #{product_type.name}".html_safe, "#", :class => "modal_trigger_2" %>
            <%= render  :partial => "/product_types/edit_product_type", 
                        :locals => {:@product_type => product_type, :@count => @count} %>
          </td>
          <td> 
            <%= link_to t(:delete), product_type_path(product_type.id), :method => :delete, 
                        :confirm => t(:confirm_deletion) %>
          </td>
        </tr>  
        <% @count += 1 %>
      <% end %>
    </tbody>
  </table>
<% end %>

