<% if can? :create, Service %>
  <div class="form-horizontal" id="modal_content">
    <%= form_for @service do |form| %>
      <div class="control-group">
        <span class="control-label">
          <%= form.label :name, t(:name) %>
        </span>
        <span class="controls">
          <%= form.text_field :name %>
        </span>
      </div>
      <div class="control-group">
        <span class="control-label">
          <%= form.label :description, t(:description) %> 
        </span>
        <span class="controls">
          <%= form.text_area :description, :maxlength => 1000, :rows => 4, :cols => 100 %>
        </span>
      </div>
      <div class="control-group">
        <span class="control-label">
          <%= form.submit  t(:create) + t(:service) %>
        </span>
      </div>
    <% end %>
  </div>
  <script type="text/javascript">
    var modalTitle = "<%= t(:new_service) %>";
  </script>
<% end %>