<h2> <%= t(:edit) + t(:service) %>: <%= @service.name %> </h2>

  <div class="form-horizontal light-border">
    <%= form_for @service do |form| %>
      <div class="control-group">
        <span class="control-label">
          <%= form.label t(:name) %>
        </span>
        <span class="controls">
          <%= form.text_field :name %>
        </span>
      </div>
      <div class="control-group">
        <span class="control-label">
          <%= form.label :description %> 
        </span>
        <span class="controls">
          <%= form.text_area :description, :maxlength => 1000, :rows => 4, :cols => 100 %>
        </span>
      </div>
      <div class="control-group">
        <span class="control-label">
          <%= form.submit  t(:save_changes) %>
        </span>
      </div>
    <% end %>
  </div>

<% if @service.employees.any? %>
  <table class="table table-striped"><caption> <%= t(:employees_with_this_service) %> </caption>
    <thead>
      <th> <%= t(:name) %> </th>
      <th> <%= t(:groups) %> </th>
      <th> <%= t(:allocation) %> </th>
    </thead>
    <tbody>
      <% @service.employees.order(:name_last, :name_first).each do |employee| %>
        <tr class="<%= cycle('odd', 'even') %>">
          <td>
            <%= render  :partial => "/shared/can_update_employee", 
                        :locals => {:@employee => employee} %>
          </td>
          <td>
            <% employee.groups.order(:name).each do |group| %>
              <% if group != employee.groups.order(:name).last %>
                <%= link_to group.name + ", ", roster_group_path(group.id) %>
              <% else %>
                <%= link_to group.name, roster_group_path(group.id) %>
              <% end %>
            <% end %>
          </td>
          <td>
            <%= @service.get_employee_allocation(employee).rounded_allocation %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<br/><br/>
<%= link_to t(:return_to) + t(:all_services), services_path %>