<h2> <%= t(:edit) + t(:service) %>: <%= @service.name %> </h2>


<%= form_for @service do |form| %>
  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <%= form.submit  t(:save_changes) %>
  </p>
<% end %>

<% if @service.employees.any? %>
  <table class="list issues"><caption> <%= t(:employees_with_this_service) %> </caption>
    <thead>
      <th> <%= t(:name) %> </th>
      <th> <%= t(:groups) %> </th>
      <th> <%= t(:allocation) %> </th>
    </thead>
    <tbody>
      <% @service.employees.order(:name_last, :name_first).each do |employee| %>
        <tr class="<%= cycle('odd', 'even') %>">
          <td>
            <%= render  :partial => "/shared/can_update_employee", 
                        :locals => {:@employee => employee} %>
          </td>
          <td>
            <% employee.groups.order(:name).each do |group| %>
              <% if group != employee.groups.order(:name).last %>
                <%= link_to group.name + ", ", roster_group_path(group.id) %>
              <% else %>
                <%= link_to group.name, roster_group_path(group.id) %>
              <% end %>
            <% end %>
          </td>
          <td>
            <%= @service.get_employee_allocation(employee).rounded_allocation %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<br/><br/>
<%= link_to t(:return_to) + t(:all_services), services_path %>