<h2> Edit Service: <%= @service.name %> </h2>


<%= error_messages_for :service %>
<%= form_for @service do |form| %>
	<p>
		<%= form.label :name %>
		<%= form.text_field :name %>
	</p>
	<p><%= form.submit  "Save changes" %></p>
<% end %>

<% if @service.employees.any? %>
	<table class="list issues"><caption> Employees With This Service </caption>
		<thead>
			<th> Name </th>
			<th> Groups </th>
			<th> Allocation </th>
		</thead>
		<tbody>
			<% @service.employees.order(:name_last).each do |employee| %>
				<% if @odd %>
					<% @odd = false %>
					<tr class="even">
				<% else %>
					<% @odd = true %>
					<tr class="odd">
				<% end %>
					<td>
						<% if can? :update, employee %>
							<%= link_to employee.full_name , edit_employee_path(employee.id) %> 
						<% else %>
							<%= employee.full_name %>
						<% end %>
					</td>

					<td>
						<% employee.groups.order(:name).each do |group| %>
							<% if group != employee.groups.order(:name).last %>
								<%= link_to group.name + ", ", roster_group_path(group.id) %>
							<% else %>
								<%= link_to group.name, roster_group_path(group.id) %>
							<% end %>
						<% end %>
					</td>
					<td>
						<%= @service.employee_allocations.find_by_employee_id(employee.id).allocation %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>

<br/><br/>
<%= link_to "Return to All Services", services_path %>