<div class="view-header">
<h2> <%= "#{t(:edit_colon)} #{@service.name}" %> </h2>
  <%= link_to "#{content_tag :em, '', :class => ''}
               #{t(:show)}".html_safe, service_path(@service.id) %> 
  <% if can? :destroy, @service %>
    <a  class="btn btn-danger pull-right" data-method="delete"
        data-confirm="<%=t(:confirm_deletion)%>" href="<%=service_path(@service)%>">
      <i class="icon-trash icon-white"></i>
      <%= t(:delete) %>
    </a>
  <% end %>
</div>
  

  <div class="form-horizontal">
    <%= form_for @service do |form| %>
      <div class="control-group">
        <span class="control-label">
          <%= form.label :name, t(:name) %>
        </span>
        <span class="controls">
          <%= form.text_field :name %>
        </span>
      </div>
      <div class="control-group">
        <span class="control-label">
          <%= form.label :description, t(:description) %> 
        </span>
        <span class="controls">
          <%= form.text_area :description, :maxlength => 1000, :rows => 4, :cols => 100 %>
        </span>
      </div>
      <div class="control-group">
        <span class="control-label">
          <%= form.submit  t(:save_changes) %>
        </span>
      </div>
    <% end %>
  </div>
