<h2> 
  <%= t(:services) %> 
  <% if can? :create, Service %>
    <%= link_to "#{content_tag :em, '', :class => 'icon-plus'}
                 #{t(:new_service)}".html_safe, "#", :class => "modal_trigger" %>
  <% end %>
</h2>


<%= render  :partial => "/services/new_service", 
            :locals => {:@service => @service} %>


<table class="table table-striped">
  <caption> <%= t(:all_services) %> </caption>
  <thead>
    <th> <%= t(:name) %> </th>
    <th> <%= t(:description) %> </th>
    <th>  </th>
  </thead>
  <tbody>
    <% @services.each do |service| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td>
           <%= render  :partial => "/shared/can_update_service", 
                       :locals => {:service => service} %>
        </td>
        <td>  
          <% unless service.description.blank? %> 
            <div class="tooltip_trigger">
              <%= service.description.truncate(20) %> 
            </div>
            <div class="tooltip tooltip_paragraph" 
                 style="<%=max_width_by_word(service.description)%>">
              <%= simple_format service.description %>
            </div>
          <% end %>
        </td>
        <td> 
          <% if can? :destroy, service %>
            <%= link_to t(:delete), service_path(service.id), :method => :delete, :confirm =>
                        t(:confirm_deletion) %> 
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<div class="pagination_footer">
  <%= will_paginate @services %>
  <%= render :partial => "/shared/results_per_page" %>
</div>

