<div class="view-header">
  <div class="view-header-inner">
    <h2> <%= t(:services) %> </h2>
    <%= render  :partial => "/services/new_service", 
                :locals => {:new_service => @new_service} %>
  </div>
</div>



<div class="filter">
  <h5> <%= t(:filter_results) %> </h5>
  <%= form_tag(services_path, :method => "get", :class => "form-inline") do %>
    <%= text_field_tag "search[name]", @name, :placeholder => t(:service) + t(:name) %>
    <%= collection_select(:search, :group, @groups, :id, :name, 
                         {:include_blank => t(:all_groups), :selected => @group}, 
                         {:class => "autocomplete large-select"}) %>
    <%= submit_tag t(:search) %>
  <% end %>
</div>

<div class="filtered-table">
  <table class="table table-striped">
    <thead>
      <th> <%= sort_column(t(:name), request.fullpath, nil, 'name', @order, @ascending) %>  </th>
      <th> <%= t(:description) %> </th>
    </thead>
    <tbody>
      <% @services.each do |service| %>
        <tr class="<%= cycle('odd', 'even') %>">
          <td>
             <%= link_to service.name, service_path(service.id) %>
          </td>
          <td>  
            <% unless service.description.blank? %> 
              <div class="tooltip_trigger">
                <%= service.description.truncate(20) %> 
              </div>
              <div class="tooltip tooltip_paragraph">
                <%= simple_format service.description %>
              </div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  
  <div class="pagination_footer">
    <%= will_paginate @services %>
    <%= render :partial => "/shared/results_per_page" %>
  </div>
</div>


<script type="text/javascript">
  var do_not_check_for_changes = true;
</script>


