<h2>Services</h2>



<% if can? :create, Service %>
	<fieldset>
		<legend>New Group</legend>
		<%= error_messages_for :service %>
		<%= form_for @service do |form| %>
			<%= form.label "Name:" %>
			<%= form.text_field :name %>
			</br>
			<label> &nbsp </label>
			<%= form.submit  "Create Service" %>
		<% end %>
	</fieldset>	
<% end %>



<table class="list issues">
	<caption> All Services </caption>
  <thead>
    <th> Name </th>
		<th>  </th>
  </thead>
	<tbody>
		<% @services.each do |service| %>
  		<% if @odd %>
				<% @odd = false %>
				<tr class="even">
			<% else %>
				<% @odd = true %>
				<tr class="odd">
			<% end %>
    		<td><%= link_to  service.name, edit_service_path(service.id) %> </td>
    		<td> 
					<%= link_to "Delete", service_path(service.id), :method => :delete, :confirm =>
															"Confirm service deletion" %> 
				</td>
  		</tr>
		<% end %>
	</tbody>
</table>

