<%= render  :partial => "/shared/object_view_header", 
            :locals => {:view => nil, :object => @service} %>
            

<table class="table table-striped overview">
  <caption> <%= t(:overview) %> </caption>
  <tbody>
    <tr>
      <td>
        <div class="overview-label">
          <%= t(:groups) %>
        </div>
        <%= @total_groups %> 
      </td>
      <td>
        <div class="overview-label">
          <%= t(:employees) %>
        </div>
        <%= @total_employees %>
      </td>
    </tr>
    <tr>
      <td>
        <div class="overview-label">
          <%= t(:products) %>
        </div>
        <%= @total_products %> 
      </td>
      <td>
        <div class="overview-label">
          <%= t(:total_allocation) %>
        </div>
        <%= "#{@total_allocation} " + t(:fte) %> 
      </td>
    </tr>
  </tbody>
</table>


<ul class="nav nav-tabs" id="my-tab">
  <li class="active">
    <a href="#products" id="products_tab" data-toggle="tab" > 
      <%= t(:products) %>
    </a>
  </li>
  <li>
    <a href="#employees" id="employees_tab" data-toggle="tab" > 
      <%= t(:employees) %>
    </a>
  </li>
  <li>
    <a href="#service_information" id="service_information_tab" data-toggle="tab"> 
      <%= t(:service) + t(:information) %>
    </a>
  </li>
</ul>


<div class="tab-content">
  <div class="tab-pane tabs-right" id="service_information">
    <%= render  :partial => "/shared/all_year_select", 
                :locals => {:@year => @year, :@all_years => @all_years } %>
    <div class="form-horizontal year-content">
      <div class="control-group">
        <span class="control-label">
          <%= label_tag t(:groups) %> 
        </span>
        <span class="controls">
          <% unless @groups.blank? %>
            <%= @groups.collect{|g| link_to g.name, group_path(g.id)}.join(", &nbsp;").html_safe %>
          <% end %>
        </span>
      </div>
      <div class="control-group">
        <span class="control-label">
          <%= label_tag t(:description) %> 
        </span>
        <span class="controls">
          <%= simple_format(@service.description) %>
        </span>
      </div>
    </div>
  </div>



  <div class="tab-pane tabs-right active" id="products">
    <%= render  :partial => "/shared/all_year_select", 
                :locals => {:@year => @year, :@all_years => @all_years } %>
    <div class="year-content">
      <% if @products.blank? %>
        <%= render  :partial => "/shared/nothing_to_display" %>
      <% else %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th> <%= t(:product) %> </th>
              <th class='variable-size'> <%= t(:priority) %> </th>
              <th> <%= t(:product_state) %> </th>
              <th> <%= t(:product_type) %> </th>
            </tr>
          </thead>
          <tbody>
            <% @products.each do |product| %>
              <tr>
                <td> 
                  <%= link_to product.name, product_path(product.id) %>
                </td>
                <td class='variable-size'> 
                  <%= product.priority %>
                </td>
                <td> 
                  <%= product.state %>
                </td>
                <td > 
                  <%= product.type %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>



  <div class="tab-pane tabs-right" id="employees">
    <%= render  :partial => "/shared/all_year_select", 
                :locals => {:@year => @year, :@all_years => @all_years } %>
    <div class="tab-content year-content">
      <% if @employee_allocations.blank? %>
        <%= render  :partial => "/shared/nothing_to_display" %>
      <% else %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th> <%= t(:employee) %> </th>
              <th> <%= t(:allocation) %> </th>
            </tr>
          </thead>
          <tbody>
            <% @employee_allocations.each do |employee_allocation| %>
              <tr>
                <td> 
                  <%= link_to employee_allocation.employee.full_name,
                      employee_path(employee_allocation.employee_id) %>
                </td>
                <td> 
                  <%= "#{employee_allocation.rounded_allocation(@allocation_precision)} " + t(:fte) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>


