<h2> 
  <%= t(:showing) + t(:service_colon) %>  <%= @service.name %> 
  <% if can? :update, @service %>
    <%= link_to "#{content_tag :em, '', :class => 'icon-edit'}
                #{t(:edit)}".html_safe, edit_service_path(@service.id) %>
  <% end %>
</h2> 


<table class="table table-striped overview">
  <caption> <%= t(:overview) %> </caption>
  <thead>
    <tr>
      <th>
        
      </th>
      <th>
        <%= form_tag change_year_logins_path, :method => "get" do %>
          <%= label_tag :year, t(:fiscal_year) %> 
          <%= select_tag(:year, options_from_collection_for_select(@all_years, :year, :year,
              {:selected => @year.year}), :class => "tiny-select") %> 
          <%= submit_tag t(:show) %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div class="overview-label">
          <%= t(:groups) %>
        </div>
        <%= @groups.length if @groups %> 
      </td>
      <td>
        <div class="overview-label">
          <%= t(:employees) %>
        </div>
        <%= @employee_allocations.length if @employee_allocations %>
      </td>
    </tr>
    <tr>
      <td>
        <div class="overview-label">
          <%= t(:products) %>
        </div>
        <%= @products.length  if @products %> 
      </td>
      <td>
        <div class="overview-label">
          <%= t(:total_allocation) %>
        </div>
        <%= @service.get_total_allocation(@year) %> 
      </td>
    </tr>
  </tbody>
</table>


<ul class="nav nav-tabs" id="my-tab">
  <li class="active">
    <a href="#products" id="products_tab" data-toggle="tab" > 
      <%= t(:products) %>
    </a>
  </li>
  <li>
    <a href="#employees" id="employees_tab" data-toggle="tab" > 
      <%= t(:employees) %>
    </a>
  </li>
  <li>
    <a href="#service_information" id="service_information_tab" data-toggle="tab"> 
      <%= t(:service) + t(:information) %>
    </a>
  </li>
</ul>


<div class="tab-content">
  <div class="tab-pane" id="service_information">
    <div class="form-horizontal">
      <div class="control-group">
        <span class="control-label">
          <%= label_tag :associated_groups %> 
        </span>
        <span class="controls">
          <% unless @groups.blank? %>
            <%= @groups.collect{|g| link_to g.name, group_path(g.id)}.join(", &nbsp;").html_safe %>
          <% end %>
        </span>
      </div>
      <div class="control-group">
        <span class="control-label">
          <%= label_tag :description %> 
        </span>
        <span class="controls">
          <%= simple_format(@service.description) %>
        </span>
      </div>
    </div>
  </div>



  <div class="tab-pane active" id="products">
    <% unless @products.blank? %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th> <%= t(:product) %> </th>
            <th> <%= t(:product_state) %> </th>
            <th> <%= t(:product_type) %> </th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
            <tr>
              <td> 
                <%= link_to product.name, product_path(product.id) %>
              </td>
              <td > 
                <%= product.product_state.name %>
              </td>
              <td > 
                <%= product.product_type.name %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>



  <div class="tab-pane" id="employees">
    <div class="tabbable tabs-right">
      <%= render  :partial => "/shared/all_year_select", 
                  :locals => {:@year => @year, :@all_years => @all_years } %>
      
      <div class="tab-content year-content">
        <% unless @employee_allocations.blank? %>
          <table class="table table-striped">
            <thead>
              <tr>
                <th> <%= t(:employee) %> </th>
                <th> <%= t(:allocation) %> </th>
              </tr>
            </thead>
            <tbody>
              <% @employee_allocations.each do |employee_allocation| %>
                <tr>
                  <td> 
                    <%= link_to employee_allocation.employee.full_name,
                        employee_path(employee_allocation.employee_id) %>
                  </td>
                  <td > 
                    <%= employee_allocation.rounded_allocation %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
  </div>
</div>


