<%= render :partial => "/shared/app_settings_tabs" %>


<h3>
  <%= t(:product_priorities) %>
  <%= render  :partial => "/product_priorities/new_product_priority", 
              :locals => {:new_product_priority => @new_product_priority} %>
</h3>



<% if @product_priorities.blank? %>
  <%= render  :partial => "/shared/nothing_to_display" %>
<% else %>
  <table class="table table-striped">
    <thead>
      <th> <%= t(:title) %> </th>
      <th> </th>
    </thead>
    <tbody>
      <% @product_priorities.each_with_index do |product_priority, index| %>
        <tr>
          <td> 
            <%= render  :partial => "/product_priorities/edit_product_priority", 
                        :locals => {:product_priority => product_priority, :index => index } %>
          </td>
          <td> 
            <%= link_to t(:delete), product_priority_path(product_priority.id), :method => :delete, 
                        :confirm => t(:confirm_deletion), :class => "btn btn-danger btn-small" %>
          </td>
        </tr>  
      <% end %>
    </tbody>
  </table>
<% end %>

