<% unless available_groups.blank? %>


  <a class="btn btn-small" data-toggle="modal" data-target="#add-group" href="#">
    <i class="icon-plus"></i>
    <%= t(:add) + t(:group) %>
  </a>
  
  
  
  <div class="modal hide fade" id="add-group">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h4> <%= t(:add_to) + t(:group) %> </h4>
    </div>
    <%= fields_for "employee_group" do |form|%>
      <div class="modal-body form-inline">
        <%= form.label :group_id, t(:name) %>
        <%= form.select(:group_id, options_from_collection_for_select(
                        @available_groups, :id, :name),
                        {:include_blank => t(:select) + t(:group)}, 
                        {:class => "autocomplete large-select"}) %> 
      </div>
      <div class="modal-footer">
        <a class="btn" data-dismiss="modal" aria-hidden="true"> <%= t(:cancel) %> </a>
        <%= form.submit t(:add), :class => "btn btn-success submission" %>
      </div>
    <% end %>
  </div>
  
  
<% end %>