<h2> <%= t(:edit) + t(:employee) %>: <%= @employee.full_name %></h2>


<h3><%= t(:basic_information) %> </h3>
<div id="my-form">
  <%= form_for @employee do |form| %>
    <%= form.label t(:last_name) %>
     <%= @employee.name_last %>
    <br/><br/>
    <%= form.label t(:first_name) %>
    <%= @employee.name_first %>    
    <br/><br/>
    <%= form.label t(:email) %> 
    <%= @employee.email %>    
    <br/><br/>
    <%= form.label :notes %> 
    <%= form.text_area :notes, :maxlength => 1000, :rows => 4, :cols => 100 %>
    <br/><br/>
    <%= form.submit  t(:save_changes) %> 
  <% end %>
</div>
<br/><br/>




<!-- Drop-down list of services that can be added. Only populated with services that the employee doesn't already have. -->
<h3><%= t(:groups) %></h3>
<% if can? :manage, :all %>
  <% if @employee.get_available_groups.any? %>
    <div id="my-form" >
      <%= form_tag("add_group", :method => "post") do %>
        <%= label_tag :employee_groups_group_id, t(:group)  %>
        <%= collection_select(:employee_group, :group_id,
             @employee.get_available_groups, :id, :name) %> 
        <%= submit_tag  t(:add) %> 
      <% end %>
    </div>
  <% end %>
<% end %>


<% if @employee.employee_groups.any? %>
  <table class="list issues">
    <tbody>
      <% @employee.groups.order(:name).each do |group| %>
        <% if @odd %>
          <% @odd = false %>
          <tr class="even">
        <% else %>
          <% @odd = true %>
          <tr class="odd">
        <% end %>
          <td>
            <%= link_to group.name, roster_group_path(group.id) %>
          </td>
          <td>
            <% if group.employee_groups.find_by_employee_id(@employee.id).group_admin %>
              <%= t(:group_admin) %>
            <% else %>
              <% if can? :update, group %>
                <%= form_tag("make_group_admin", :method => "post") do %>
                   <%= hidden_field_tag(:group, group.id) %>
                   <%= submit_tag  t(:make) + t(:group_admin), :confirm => t(:confirm_admin) %>
                 <% end %>
              <% end %>
            <% end %>
          </td>
          <td>
            <% if can? :update, group %>
              <%= form_tag("remove_group", :method => "post") do %>
                <%= hidden_field_tag(:group, group.id) %>
                <%= submit_tag  t(:remove), :confirm => t(:confirm_removal) + t(:group) %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<br/><br/>




<!-- Drop-down list of services that can be added. Only populated with services that the employee doesn't already have. -->
<h3><%= t(:services) %></h3>
<% if @employee.get_available_services.any?%>
  <div id="my-form" >
    <%= form_tag("add_service", :method => "post") do %>
      <%= label_tag :employee_allocation_service_id, t(:service)  %>
      <%= collection_select(:employee_allocation, :service_id,
           @employee.get_available_services, :id, :name) %> 
      <%= select(:employee_allocation, :allocation, [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8,
          0.9, 1]) %>
      <%= submit_tag  t(:add) %> 
    <% end %>
  </div>
<% end %> 


<!-- Creates table with the employee's services and allocations -->
<% if @employee.employee_allocations.any? %>
  <table class="list issues">
    <thead>
      <th><%= t(:service) %></th>
      <th><%= t(:allocation) %></th>
      <th> </th>
    </thead>
    <tbody>
      <% @employee.employee_allocations.each do |employee_allocation| %>
        <% if employee_allocation != @employee_allocation %>
          <% if @odd %>
            <% @odd = false %>
            <tr class="even">
          <% else %>
            <% @odd = true %>
            <tr class="odd">
          <% end %>
            <td> 
              <%= render  :partial => "/shared/can_update_service.html.erb", 
                          :locals => {:employee_allocation => employee_allocation} %>
            </td>
            <td> <%= employee_allocation.rounded_allocation %> </td>
            <td> 
              <%= form_tag("remove_service", :method => "post") do %>
                <%= hidden_field_tag(:employee_allocation, employee_allocation.id) %>
                <%= submit_tag  t(:remove), :confirm => t(:confirm_removal) %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>
<br/><br/>

<%= link_to t(:return_to) + t(:all_employees), employees_path %>