<%= render  :partial => "/shared/object_view_header", 
            :locals => {:view => t(:edit_colon), :object => @employee} %>



<%= form_for @employee do |employee_form| %>


  <h3><%= t(:basic_information) %> </h3>
  <div class="form-horizontal">
    <%= fields_for @employee do |form| %>
      <div class="control-group">
        <span class="control-label">
          <%= form.label t(:last_name) %>
        </span>
        <span class="controls">
          <%= @employee.name_last %>
        </span>
      </div>
      <div class="control-group">
        <span class="control-label">
          <%= form.label t(:first_name) %>
        </span>
        <span class="controls">
          <%= @employee.name_first %>
        </span>
      </div>
      <div class="control-group">
        <span class="control-label">
          <%= form.label t(:email) %> 
        </span>
        <span class="controls">
          <%= @employee.email %>    
        </span>
      </div>
      <div class="control-group">
        <span class="control-label">
          <%= form.label :notes %> 
        </span>
        <span class="controls">
          <%= form.text_area :notes, :maxlength => 1000, :rows => 4, :cols => 100 %>
        </span>
      </div>
    <% end %>
  </div>


  <!-- Drop-down list of groups that can be added. Only populated with groups that the employee
   doesn't already belong to. -->
  <h3><%= t(:groups) %></h3>
  <% if can? :manage, :all %>
    <% unless @available_groups.blank? %>
      <div class="form-inline" >
        <fieldset class="light-border">
          <legend> 
            <%= t(:add_to) + t(:group) %>
          </legend>
          <%= fields_for "employee_group" do |form|%>
            <%= form.label :id, t(:group)  %>
            <%= form.select(:group_id, options_from_collection_for_select(
                            @available_groups, :id, :name),  
                           {:include_blank => "-" + t(:select) + t(:group) + "-"},
                           {:class => "autocomplete large-select"}) %> 
            <%= form.submit t(:add), :class => "submission" %>
          <% end %>
        </fieldset>
      </div>
    <% end %>
  <% end %>


  <!-- Table of all groups that the employee currently belongs to. Admins are able to make changes
   to the employee's group membership here --> 
  <% unless @employee_groups.blank? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th> <%= t(:group) %> </th>
          <th> <%= t(:admin) %>? </th>
          <th> <%= t(:check_to_remove) %> </th>
        </tr>
      </thead>
      <tbody>
        <% @employee_groups.each do |employee_group| %>
          <%= employee_form.fields_for "employee_groups", employee_group do |form| %>
            <tr>
              <td>
                <%= link_to employee_group.name, group_path(employee_group.group_id) %>
              </td>
              <td>
                <% if can? :update, employee_group.group %>
                  <%= form.hidden_field(:group_id, :value => employee_group.group_id) %>
                  <%= form.hidden_field(:id, :value => employee_group.id) %>
                  <%= form.check_box :group_admin, :value => employee_group.group_admin %>
                <% end %>
              </td>
              <td>
                <% if can? :update, employee_group.group %>
                  <%= form.check_box :_destroy %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>



  <h3><%= t(:services) %></h3>
  <div id="over_allocation" class="error hidden">
      Error: <%= t(:over_allocated) %>
  </div>



  <div class="tabbable tabs-right">
    <%= render  :partial => "/shared/active_year_select", 
                :locals => {:@year => @year, :@active_years => @active_years } %>
    <div class="tab-content year-content">
      <!-- Drop-down list of services that can be added. Only populated with services that the
       employee doesn't already have. -->
      <% unless @available_services.blank? %>
        <div class="form-inline" >
          <fieldset class="light-border">
            <legend> 
              <%= t(:add) + t(:new_service_allocation) %>
            </legend>
            <%= fields_for "employee_allocations" do |form|%>
              <%= form.label :service_id, t(:service) %>
              <%= form.select(:service_id, 
                              options_from_collection_for_select(@available_services, :id, :name),  
                             {:include_blank => "-" + t(:select) + t(:service) + "-"} ,
                               {:class => "autocomplete large-select"}) %> 
              <%= form.select(:allocation, @possible_allocations,
                             {:include_blank => "-" + t(:select) + t(:allocation) + "-"},
                              :class => "calculator_select allocation_value") %>
              <%= form.hidden_field(:fiscal_year_id, :value => @year.id) %>
              <%= render  :partial => "/shared/fte_calculator_trigger" %>
              <%= form.submit t(:add), :class => "submission"%>
            <% end %>
          </fieldset>
        </div>
      <% end %>


      <!-- Creates table with the employee's services and allocations. Can be edited by employee or
       admin -->
      <% unless @service_allocations.blank? %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th><%= t(:service) %></th>
              <th><%= t(:allocation) %></th>
              <th> <%= t(:check_to_remove) %> </th>
            </tr>
          </thead>
          <tbody>
            <% @service_allocations.each do |service_allocation| %>
              <%= employee_form.fields_for "employee_allocations", service_allocation do |form|%>
                <tr>
                  <td> 
                    <%= link_to service_allocation.name, service_path(service_allocation.service_id) %>
                  </td>
                  <td class="form-inline"> 
                    <%= form.hidden_field(:service_id, :value => service_allocation.service_id) %>
                    <%= form.hidden_field(:id, :value => service_allocation.id) %>
                    <%= form.select(:allocation, @possible_allocations, 
                                   {:selected =>
                                    service_allocation.rounded_allocation(@allocation_precision)}, 
                                    :class => "calculator_select allocation_value") %>
                    <%= render  :partial => "/shared/fte_calculator_trigger" %>
                  </td>
                  <td> 
                    <%= form.check_box :_destroy, :class => "remove_allocation" %>
                  </td>
                </tr>
              <% end %>
            <% end %>
            <tr> 
              <td>
                <%= t(:total) + " " + t(:allocation) %>
              </td>
              <td id="total-allocation">
                <%= "#{@employee.get_total_service_allocation(@year, @allocation_precision)} " + t(:fte) %>
              </td>
              <td></td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
  <br/>



  <%= employee_form.submit  t(:save_changes), :class => "submission" %> 
<% end %>




<%= render  :partial => "/shared/fte_calculator_body", 
            :locals => {:@allocation_precision => @allocation_precision,
                        :@fte_hours_per_week => @fte_hours_per_week } %>