<h2> Edit Employee: <%= @employee.name %> </h2>


<h3>Edit Basic Information</h3>
<div id="my-form">
	<%= form_for @employee do |form| %>
		<%= error_messages_for :employee %>
		<%= form.label "Name:" %>
	 	<%= form.text_field :name %>
		<br/>
		<%= form.label "Email: " %> 
		<%= form.text_field :email %>
		<div>
			<%= form.label "Notes:" %> 
			<%= form.text_field :notes %>
		</div>
		<%= form.submit  "Save changes" %> 
	<% end %>
</div>


<!-- Drop-down list of services that can be added. Only populated with services that the employee doesn't already have. -->
<% if @employee.get_available_services.length > 0 %>
	<h3>Add Services</h3>
	<div id="my-form">
		<% if @employee.get_available_services != nil %>
			<%= form_tag("add_service", :method => "post") do %>
				<%= label_tag "Service and Allocation: " %>
				<%= error_messages_for :employee_allocation %>
				<%= collection_select(:employee_allocation, :service_id,
				 	@employee.get_available_services, :id, :name) %> 
				<%= select(:employee_allocation, :allocation, [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8,
					0.9, 1]) %>
				<%= submit_tag  "Add" %> 
			<% end %>
		<% end %>
	</div>
<% end %> 



<!-- Creates table with the employee's services and allocations -->
<% if @employee.employee_allocations.length > 0 %>
	<table class="list issues"><caption> Existing Services</caption>
		<thead>
			<th>Services</th>
			<th>Allocations</th>
			<th> Remove Service </th>
		</thead>
		<tbody>
			<% @employee.employee_allocations.each do |employee_allocation| %>
				<% if employee_allocation != @employee_allocation %>
					<% if @odd %>
						<% @odd = false %>
						<tr class="even">
					<% else %>
						<% @odd = true %>
						<tr class="odd">
					<% end %>
						<td> <%= employee_allocation.service.name %> </td>
		  			<td> <%= employee_allocation.allocation %> </td>
						<td> 
							<%= form_tag("remove_service", :method => "post") do %>
								<%= hidden_field_tag(:employee_allocation, employee_allocation.id) %>
								<%= submit_tag  "Remove", :confirm => "Confirm removal." %>
							<% end %>
						</td>
					</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>
<% end %>


<%= link_to "Back", employees_path %>