<%= render  :partial => "/shared/object_view_header", 
            :locals => {:view => t(:edit_colon), :object => @employee} %>



<%= form_for @employee do |employee_form| %>


  <ul class="nav nav-tabs" id="my-tab">
   <li>
     <a href="#employee" id="employees_tab" data-toggle="tab" > 
       <%= t(:employee) + t(:information) %>
     </a>
   </li>
   <li>
     <a href="#groups" id="groups_tab" data-toggle="tab"> 
       <%= t(:groups) %> 
     </a>
   </li>
   <li class="active">
     <a href="#services" id="services_tab" data-toggle="tab"> 
       <%= t(:services)%> 
     </a>
   </li>
   <li>
     <a href="#products" id="products_tab" data-toggle="tab"> 
       <%= t(:products)%> 
     </a>
   </li>
 </ul>



  <div class="tab-content">
     
    <div class="tab-pane" id="employee">
      <h3><%= t(:basic_information) %> </h3>
      <div class="form-horizontal light-border">
        <%= fields_for @employee do |form| %>
          <div class="control-group">
            <span class="control-label">
              <%= form.label t(:last_name) %>
            </span>
            <span class="controls">
              <%= @employee.last_name %>
            </span>
          </div>
          <div class="control-group">
            <span class="control-label">
              <%= form.label t(:first_name) %>
            </span>
            <span class="controls">
              <%= @employee.first_name %>
            </span>
          </div>
          <div class="control-group">
            <span class="control-label">
              <%= form.label t(:email) %> 
            </span>
            <span class="controls">
              <%= @employee.email %>    
            </span>
          </div>
          <div class="control-group">
            <span class="control-label">
              <%= form.label :notes %> 
            </span>
            <span class="controls">
              <%= form.text_area :notes, :maxlength => 1000, :rows => 4, :cols => 100 %>
            </span>
          </div>
          <div class="control-group">
            <span class="control-label">
              <%= form.submit  t(:save_changes), :class => "submission" %>
            </span>
          </div>
        <% end %>
      </div>
    </div>







    <div class="tab-pane" id="groups">
      <h3>
        <%= t(:groups) %>
        <%= render  :partial => "/employees/add_group", 
                    :locals => {:available_groups => @available_groups} %>
      </h3>
      
      
      <% if @employee_groups.blank? %>
        <%= render  :partial => "/shared/nothing_to_display" %>
      <% else %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th> <%= t(:group) %> </th>
              <th> <%= t(:manager) %> </th>
              <th> <%= t(:check_to_remove) %> </th>
            </tr>
          </thead>
          <tbody>
            <% @employee_groups.each do |employee_group| %>
              <%= employee_form.fields_for "employee_groups", employee_group do |form| %>
                <tr>
                  <td>
                    <%= link_to employee_group.name, group_path(employee_group.group_id) %>
                  </td>
                  <td>
                    <% if can? :update, employee_group.group %>
                      <%= form.hidden_field(:group_id, :value => employee_group.group_id) %>
                      <%= form.hidden_field(:id, :value => employee_group.id) %>
                      <%= form.check_box :group_admin, :value => employee_group.group_admin %>
                    <% end %>
                  </td>
                  <td>
                    <% if can? :update, employee_group.group %>
                      <%= form.check_box :_destroy %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
        
        <%= employee_form.submit  t(:save_changes), :class => "submission" %>
        
      <% end %>
    </div>






    <div class="tab-pane active" id="services">
      <h3> 
        <%= t(:services) %> 
        <%= render  :partial => "/employees/add_service", 
                    :locals => {:available_services => @available_services, :year => @year} %>
      </h3>
      
      
      <div class="alert alert-block alert-error fade in javascript-notice hidden over-allocation">  
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <h4> <%= t(:error) %> </h4>
        <p><%= t(:over_allocated) %> </p>
      </div>
      
      
      <div class="tabbable tabs-right">
        <%= render  :partial => "/shared/active_year_select", 
                    :locals => {:@year => @year, :@active_years => @active_years } %>
        <div class="tab-content year-content">
          <% if @service_allocations.blank? %>
            <%= render  :partial => "/shared/nothing_to_display" %>
          <% else %>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th><%= t(:service) %></th>
                  <th><%= t(:allocation) %></th>
                  <th> <%= t(:check_to_remove) %> </th>
                </tr>
              </thead>
              <tbody>
                <% @service_allocations.each_with_index do |service_allocation, index| %>
                  <%= employee_form.fields_for "employee_allocations", service_allocation do |form|%>
                    <tr>
                      <td> 
                        <%= link_to service_allocation.name, service_path(service_allocation.service_id) %>
                      </td>
                      <td class="form-inline"> 
                        <%= form.hidden_field(:service_id, :value => service_allocation.service_id) %>
                        <%= form.hidden_field(:id, :value => service_allocation.id) %>
                        <%= form.text_field(:allocation, {:placeholder => t(:optional), :class =>
                            "calculator_select allocation-1 small"}) %>
                        <%= render  :partial => "/shared/fte_calculator_trigger" %>
                      </td>
                      <td> 
                        <%= form.check_box :_destroy, :class => "remove-1", :id => "remove-1-" + index.to_s %>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
                <tr> 
                  <td>
                    <%= t(:total) + " " + t(:allocation) %>
                  </td>
                  <td id="total-1">
                    <%= "#{@employee.get_total_service_allocation(@year, @allocation_precision)} " + t(:fte) %>
                  </td>
                  <td></td>
                </tr>
              </tbody>
            </table>
            
            <%= employee_form.submit  t(:save_changes), :class => "submission" %>
            
          <% end %>
        </div>
      </div>
    </div>







    <div class="tab-pane" id="products">
      <h3> 
        <%= t(:products) %> 
        <%= render  :partial => "/employees/add_product", 
                    :locals => {:available_products => @available_products, :year => @year} %>
      </h3>
      
    
      <div class="alert alert-block alert-error fade in javascript-notice hidden over-allocation">  
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <h4> <%= t(:error) %> </h4>
        <p><%= t(:over_allocated) %> </p>
      </div>
      
      
      <div class="tabbable tabs-right">
        <%= render  :partial => "/shared/active_year_select", 
                    :locals => {:@year => @year, :@active_years => @active_years } %>
        <div class="tab-content year-content">
          <% if @product_allocations.blank? %>
            <%= render  :partial => "/shared/nothing_to_display" %>
          <% else %>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th><%= t(:product) %></th>
                  <th><%= t(:allocation) %></th>
                  <th> <%= t(:check_to_remove) %> </th>
                </tr>
              </thead>
              <tbody>
                <% @product_allocations.each_with_index do |product_allocation, index| %>
                  <%= employee_form.fields_for "employee_products", product_allocation do |form|%>
                    <tr>
                      <td> 
                        <%= link_to product_allocation.name, product_path(product_allocation.product_id) %>
                      </td>
                      <td class="form-inline"> 
                        <%= form.hidden_field(:product_id, :value => product_allocation.product_id) %>
                        <%= form.hidden_field(:id, :value => product_allocation.id) %>
                        <%= form.text_field(:allocation, {:placeholder => t(:optional), :class =>
                            "calculator_select allocation-2 small"}) %>
                        <%= render  :partial => "/shared/fte_calculator_trigger" %>
                      </td>
                      <td> 
                        <%= form.check_box :_destroy, :class => "remove-2", :id => "remove-2-" + index.to_s %>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
                <tr> 
                  <td>
                    <%= t(:total_allocation) %>
                  </td>
                  <td id="total-2">
                    <%= "#{@employee.get_total_product_allocation(@year, @allocation_precision)} " + t(:fte) %>
                  </td>
                  <td></td>
                </tr>
              </tbody>
            </table>

            <%= employee_form.submit  t(:save_changes), :class => "submission" %>

          <% end %>
        </div>
      </div>
    </div>
    
    
  </div>
<% end %>




<%= render  :partial => "/shared/fte_calculator_body", 
            :locals => {:@allocation_precision => @allocation_precision,
                        :@fte_hours_per_week => @fte_hours_per_week } %>