<h2> Home </h2>


<h3> Browse Existing Employees </h3>
<div id="my-form">
	<div id="group_dropdown">
		<%= form_tag("employees", :method => "get") do %>
			<%= label_tag "Group Name: " %>
			<%= collection_select(:group, :id, @groups, :id, :name, {:prompt => 'All Groups' }) %>
		<% end %>
	</div>
	<div id="employee_dropdown">
		<%= form_tag("populate_employee_results", :method => "get") do %>
			<div id="employee_select_div">
				<%= label_tag "Employee Name: " %>
				<%= collection_select(:employee, :id, @employees, :id, :full_name,	
															{:prompt => 'Select Employee' }) %>
			</div>
		<% end %>
	</div>
</div>



<div id = "employee_results">
</div>