<h2> <%= t(:employees) %> </h2>


<% if can? :create, Employee %>
  <%= link_to t(:new_employee) , employees_search_ldap_view_path %>
<% end %>


<% if can? :manage, Employee %>
  <br/><br/>
  <%= form_tag( update_all_employees_via_ldap_employees_path, :method => "post") do %>
    <%= submit_tag "Update names and emails of all employees", 
                   :confirm => "This may take a while. Are you ready?" %>
  <% end %>
<% end %>



<table class="list issues">
  <caption> <%= t(:all_employees) %></caption>
  <thead>
    <th> <%= t(:name) %> </th>
    <th> <%= t(:email) %> </th>
    <th> <%= t(:notes) %> </th>
    <th> <%= t(:total_allocation) %> </th>
    <th>  </th>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
      <tr class="<%= cycle('odd', 'even', :name => 'employee_table_alternation') %>">
        <td> 
          <%= render  :partial => "/shared/can_update_employee.html.erb", 
                      :locals => {:@employee => employee} %>  
        </td>
        <td> <%= employee.email %> </td>
        <td>  
          <% unless employee.notes.blank? %> 
            <div class="tooltip_trigger">
              <%= employee.notes.truncate(20) %> 
            </div>
            <div class="tooltip" hidden>
              <p class="tooltip_paragraph"> <%= employee.notes %> </p>
            </div>
          <% end %>
        </td>
        <td>
          <%= render  :partial => "/shared/employee_services_and_allocations.html.erb", 
                      :locals => {:employee => employee} %>
        </td>
        <td> 
          <% if can? :destroy, employee %>
            <%= link_to t(:delete), employee_path(employee.id), :method => :delete, 
                        :confirm => t(:confirm_deletion) %> 
          <% end %>
        </td>
      </tr> 
    <% end %>
  </tbody>
</table>


<div class="pagination_footer">
  <%= will_paginate @employees %>
  <%= render :partial => "/shared/results_per_page.html.erb" %>
</div>