<h1> Employees </h1>

<%= link_to "New Employee" , new_employee_path %>

<table class="table table-striped">
	<caption> All Employees </caption>
	<thead>
		<th> Name </th>
		<th> Notes </th>
		<th> Services </th>
		<th> Allocations </th>
		<th> Edit </th>
		<th> Delete </th>
	</thead>
	<% @employees.each do |employee| %>
		<tbody>
			<tr>
				<td>  <%= employee.name %> </td>
				<td>  <%= employee.notes %> </td>
				<td>
					<% employee.services.each do |service| %>
						<%= service.name %>
						<br/>
					<% end %>
				</td>
				<td>
					<% employee.employee_allocations.each do |employee_allocation| %>
						<%= employee_allocation.allocation %> 
						<br/>
					<% end %>
				</td>
				<td> <%= link_to "Edit" , edit_employee_path(employee.id) %> </td>
				<td> <%= link_to "Delete", employee_path(employee.id), :method=>:delete, :confirm=>"Confirm
				 			employee deletion" %> </td>
			</tr>	
		</tbody>
	<% end %>
</table>