<h2> Employees </h2>
	
	
<% if can? :create, Employee %>
	<%= link_to "New Employee" , employees_search_ldap_view_path %>
<% end %>

<table class="list issues">
	<caption> All Employees </caption>
	<thead>
		<th> Name </th>
		<th> Email </th>
		<th> Notes </th>
		<th> Services </th>
		<th> Allocations </th>
		<th>  </th>
		<th>  </th>
	</thead>
	<tbody>
		<% @employees.each do |employee| %>
			<% if @odd %>
				<% @odd = false %>
				<tr class="even">
			<% else %>
				<% @odd = true %>
				<tr class="odd">
			<% end %>
				<td>  <%= employee.full_name %> </td>
				<td>	<%= employee.email %> </td>
				<td>  
					<% if employee.notes %> 
						<%= employee.notes.truncate(20) %>
					<% end %>
				</td>
				<td>
					<% employee.services.each do |service| %>
						<%= service.name %>
						<br/>
						<% end %>
				</td>
				<td>
					<% employee.employee_allocations.each do |employee_allocation| %>
						<%= employee_allocation.allocation %> 
						<br/>
					<% end %>
				</td>
				<td> 
					<% if can? :update, employee %>
						<%= link_to "Edit" , edit_employee_path(employee.id) %> 
					<% end %>
				</td>
				<td> 
					<% if can? :destroy, employee %>
						<%= link_to "Delete", employee_path(employee.id), :method=>:delete, 
												:confirm=>"Confirm employee deletion" %> 
					<% end %>
				</td>
			</tr>	
		<% end %>
	</tbody>
</table>