<h2> 
  <%= t(:employees) %> 
  <% if can? :create, Employee %>
    <%= link_to "#{content_tag :i, '', :class => 'icon-plus'}
                 #{t(:new_employee)}".html_safe, employees_search_ldap_view_path %>
  <% end %>
</h2>


<fieldset class="light-border">
  <legend><%= t(:search_for_employee) %></legend>
  <%= form_tag(employees_path, :method => "get", :class => "form-inline") do %>
    <%= label_tag :name_to_search_for, t(:name) %>
    <%= text_field_tag :name_to_search_for, params[:name_to_search_for] %>
    <%= submit_tag "Search" %>
  <% end %>
</fieldset>



<table class="table table-striped">
  <caption> <%= t(:all_employees) %></caption>
  <thead>
    <th> <%= t(:name) %> </th>
    <th> <%= t(:notes) %> </th>
    <th> <%= t(:total_allocation) %> </th>
    <th>  </th>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td> 
          <% unless employee.email.blank? %>
            <span class="tooltip_trigger">
              <i class="icon-envelope"></i>
            </span>
            <div class="tooltip">
              <p class="tooltip_paragraph"> <%= employee.email %> </p>
            </div>
          <% else %>
            <span class="blank-icon"></span>
          <% end %>
          <span class="before_icon">
            <%= render  :partial => "/shared/can_update_employee", 
                        :locals => {:@employee => employee} %>
          </span>
        </td>
        <td>  
          <% unless employee.notes.blank? %> 
            <div class="tooltip_trigger">
              <%= employee.notes.truncate(20) %> 
            </div>
            <div class="tooltip">
              <p class="tooltip_paragraph"> <%= employee.notes %> </p>
            </div>
          <% end %>
        </td>
        <td>
          <%= render  :partial => "/shared/employee_services_and_allocations", 
                      :locals => {:employee => employee} %>
        </td>
        <td> 
          <% if can? :destroy, employee %>
            <%= link_to t(:delete), employee_path(employee.id), :method => :delete, 
                        :confirm => t(:confirm_deletion) %> 
          <% end %>
        </td>
      </tr> 
    <% end %>
  </tbody>
</table>


<div class="pagination_footer">
  <%= will_paginate @employees %>
  <%= render :partial => "/shared/results_per_page" %>
</div>