<h3> <%= t(:search_results) %> </h3>
<% if @data.blank? %>
  <%= render  :partial => "/shared/nothing_to_display" %>
<% else %>
  <table class="table table-striped">
    <thead>
      <th> <%= t(:name) %> </th>
      <th> <%= t(:department) %> </th>
      <th> <%= t(:email) %> </th>
      <th>  </th>
    </thead>
    <tbody>
      <% @data.each do |entry| %>
        <tr>
          <td> <%= entry.cn.first %> </td>
          <td>
            <% if entry.respond_to?(:osudepartment) %>
              <%= entry.osudepartment.first %> 
            <% end %>
          </td>
          <td> 
            <% if entry.respond_to?(:mail) %>
              <%= entry.mail.first %> 
            <% end %>
          </td>
          <td> 
            <% if Employee.find_by_uid(entry.uid.first) %>
              <%= t(:already_in_application) %>
            <% else %>
              <%= form_tag("ldap_create", :method => "post") do %>
                <%= hidden_field_tag(:uid, entry.uid.first) %>
                <%= submit_tag  t(:add_to_application) %> 
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>