<% if !@data.nil? %>
  <table class="table table-striped"><caption> <%= t(:search_results) %> </caption>
    <thead>
      <th> <%= t(:name) %> </th>
      <th> <%= t(:department) %> </th>
      <th> <%= t(:email) %> </th>
      <th>  </th>
    </thead>
    <tbody>
      <% @data.each do |entry| %>
        <tr class="<%= cycle('odd', 'even') %>">
          <td> <%= entry.cn.first %> </td>
          <td>
            <% if entry.respond_to?(:osudepartment) %>
              <%= entry.osudepartment.first %> 
            <% end %>
          </td>
          <td> 
            <% if entry.respond_to?(:mail) %>
              <%= entry.mail.first %> 
            <% end %>
          </td>
          <td> 
            <% if Employee.find_by_osu_id(entry.osuuid.first) &&
                  Employee.find_by_osu_username(entry.uid.first) %>
              <%= t(:already_in_application) %>
            <% else %>
              <%= form_tag("ldap_create", :method => "post", :class => "prevent_double_submit") do %>
                <% @temp = entry.cn.first.split(",") %>
                <%= hidden_field_tag(:name_last, @temp[0]) %>
                <%= hidden_field_tag(:name_first, @temp[1].split(" ")[0]) %>
                <%= hidden_field_tag(:name_MI, @temp[1].split(" ")[1].first) %>
                <%= hidden_field_tag(:osu_username, entry.uid.first) %>
                <%= hidden_field_tag(:osu_id, entry.osuuid.first) %>
                <% if entry.respond_to?(:mail) %>
                  <%= hidden_field_tag(:email, entry.mail.first) %>
                <% else %>
                  <%= hidden_field_tag(:email, "") %>
                <% end %>
                <%= submit_tag  t(:add_to_application) %> 
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>