<h1> New Employee </h1>

<%= error_messages_for :employee %>
<table class="table table-striped"><caption> Edit Employee Attributes </caption>
	<thead>
		<th> Name </th>
		<th> Email </th>
		<th> Notes </th>
		<th> </th>
	</thead>
	<tbody>
		<tr>
			<%= form_for @employee do |form| %>
				<td> <%= form.text_field :name %> </td>
				<td> <%= form.text_field :email %> </td>	
				<td> <%= form.text_field :notes %> </td>
				<td> <%= form.submit  "Save changes" %> </td>
			<% end %>
		</tr>
	</tbody>
</table>

<%= link_to "Back", employees_path %>