<h1> New Employee </h1>
<%= form_for @employee do |form| %>
	<p>
		<%= form.label :name %>
		<%= form.text_field :name %>
	</p>

	<p>
		<%= form.label :notes %>
		<%= form.text_area :notes %>
	</p>

	<p>
		<%= form.submit  "Save Employee" %>
	</p>
<% end %>


<%= link_to "Back", employees_path %>