<% if @employee %>
  <table class="list issues"><caption> <%= t(:search_results) %> </caption>
    <thead>
      <th><%= t(:name) %></th>
      <th><%= t(:service) %></th>
      <th><%= t(:allocation) %></th>
    </thead>
    <tbody>
      <% if @employee.employee_allocations.empty? %>
        <tr>
          <td> <%= render :partial => "/shared/can_update_employee.html.erb" %> </td>
          <td></td>
          <td></td>
        </tr>
      <% end %>
      <% @employee.employee_allocations.each do |employee_allocation| %>
        <tr class="<%= cycle('odd', 'even') %>">
          <td>
            <% if employee_allocation == @employee.employee_allocations.first %>
              <%= render :partial => "/shared/can_update_employee.html.erb" %>
            <% end %>
          </td>
          <td> 
            <%= render  :partial => "/shared/can_update_service.html.erb", 
                        :locals => {:employee_allocation => employee_allocation} %>
          </td>
          <td> <%= employee_allocation.rounded_allocation %> </td>
        </tr>
        <% end %>
    </tbody>
  </table>
<% end %>