<h2> <%= t(:add_employee_to_application) %> </h2>


<h3> <%= t(:search_OSU_directory) %> </h3>
<div id="my-form">
  <div id="search_div">
  <%= form_tag("search_ldap", :method => "get") do %>
    <div id="last_name_search">
      <%= label_tag t(:last_name) %>
      <%= text_field_tag :last_name, nil, :placeholder => 'Must enter last name' %>
    </div>
    <div id="first_name_search">
      <%= label_tag t(:first_name) %>
      <%= text_field_tag :first_name, nil, :placeholder => 'First name optional' %>
    </div>
  <% end %>
  </div>
</div>


<div id = "ldap_search_results">
</div>

<br/><br/>
<%= link_to t(:return_to) + t(:all_employees), employees_path %>