<head>
	<%= javascript_include_tag :defaults %>
	<!--<script src="../search_ldap_view.js"></script> -->
</head>


<h2> Add Employee to Application </h2>


<h3> Search OSU Directory </h3>
<div id="my-form">
	<%= form_tag("search_ldap", :method => "get") do %>
		<div id="last_name_search">
			<%= label_tag "Last name:" %>
			<%= text_field_tag(:last_name) %>
		</div>
		<div id="first_name_search">
			<%= label_tag "First name:" %>
			<%= text_field_tag(:first_name) %>
		</div>
		<div> 
			<%= submit_tag "Search" %> 
		</div>
	<% end %>
</div>


<%= @message %>


<% if @data != nil %>
	<table class="list issues"><caption> Employee Search Results </caption>
		<thead>
			<th> Name </th>
			<th> Department </th>
			<th> Email </th>
			<th> Add To Application </th>
		</thead>
		<tbody>
			<% @data.each do |entry| %>
				<% if @odd %>
					<% @odd = false %>
					<tr class="even">
				<% else %>
					<% @odd = true %>
					<tr class="odd">
				<% end %>
					<%= form_tag("ldap_create", :method => "post") do %>
  					<td> <%= entry.cn.first %> </td>
						<% if entry.respond_to?(:osudepartment) %>
							<td> <%= entry.osudepartment.first %> </td>
						<% else %>
							<td>  </td>
						<% end %>
						<% if entry.respond_to?(:mail) %>
							<td> 
								<%= entry.mail.first %> 
								<%= hidden_field_tag(:email, entry.mail.first) %>
							</td>
						<% else %>
							<td>
								<%= hidden_field_tag(:email, "") %>
							</td>
						<% end %>
						<td> 
							<%= hidden_field_tag(:name, entry.cn.first) %>
							<%= hidden_field_tag(:osu_username, entry.uid.first) %>
							<%= hidden_field_tag(:osu_id, entry.osuuid.first) %>
							<%= submit_tag  "Add Employee" %> 
						</td>
					<% end %>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>


<div id = "ldap_search_results">
</div>


<%= link_to "Back", employees_path %>