<%= javascript_include_tag "ldap_search_results" %> 


<h2> Add Employee to Application </h2>



<h3> Search OSU Directory </h3>
<div id="my-form">
	<%= form_tag("search_ldap", :method => "get") do %>
		<div id="last_name_search">
			<%= label_tag "Last name:" %>
			<%= text_field_tag(:last_name) %>
		</div>
		<div id="first_name_search">
			<%= label_tag "First name:" %>
			<%= text_field_tag(:first_name) %>
		</div>
	<% end %>
</div>


<div id = "ldap_search_results">
</div>

<br/><br/>
<%= link_to "Return to All Employees", employees_path %>