<h2> <%= t(:add_employee_to_application) %> </h2>


<h3> <%= t(:search_OSU_directory) %> </h3>
<div id="search_div">
  <%= form_tag("search_ldap", :method => "get", :class => "form-horizontal") do %>
    <div class="control-group">
      <span class="control-label">
        <%= label_tag :last_name, t(:last_name) %>
      </span>
      <span class="controls" id="last_name_search">
        <%= text_field_tag :last_name, nil, :placeholder => t(:must_enter_last_name) %>
      </span>
    </div>
    <div class="control-group">
      <span class="control-label">
        <%= label_tag :first_name, t(:first_name) %>
      </span>
      <span class="controls" id="first_name_search">
        <%= text_field_tag :first_name, nil, :placeholder => t(:first_name_optional) %>
      </span>
    </div>
  <% end %>
</div>


<div id = "ldap_search_results">
</div>

<br/><br/>
<%= link_to t(:return_to) + t(:all_employees), employees_path %>

<script type="text/javascript">
  var pathname = "<%= ldap_search_results_employees_path %>";
</script>