<h2> 
  Employee: <%= @employee.full_name %> 
  <% if can? :update, @employee %>
    <%= link_to "#{content_tag :em, '', :class => 'icon-edit'}
                #{t(:edit)}".html_safe,
                edit_employee_path(@employee.id) %>
  <% end %>
</h2> 


<ul class="nav nav-tabs" id="my-tab">
  <li class="active">
    <a href="#services" id="services_tab" data-toggle="tab"> 
      Allocated Services
    </a>
  </li>
  <li>
    <a href="#products" id="products_tab" data-toggle="tab" > 
      Allocated Products
    </a>
  </li>
  <li>
    <a href="#basic_information" id="basic_information_tab" data-toggle="tab"> 
      Notes and Groups
    </a>
  </li>
</ul>


<div class="tab-content">
  <div class="tab-pane" id="basic_information">
    
    <div class="form-horizontal">
      <div class="control-group">
        <span class="control-label">
          <%= label_tag :groups %> 
        </span>
        <span class="controls">
          <%= @groups.collect{|g|g.name}.join(", ") %>
        </span>
      </div>
      <div class="control-group">
        <span class="control-label">
          <%= label_tag t(:email) %> 
        </span>
        <span class="controls">
          <%= @employee.email %>    
        </span>
      </div>
      <div class="control-group">
        <span class="control-label">
          <%= label_tag :notes %> 
        </span>
        <span class="controls">
          <%= simple_format(@employee.notes, :style => 'margin-left:280px;') %>
        </span>
      </div>
    </div>
    
  </div>
    
    
    
  <div class="tab-pane active" id="services">
  

    <% if @employee.employee_allocations.any? %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= t(:service) %></th>
            <th><%= t(:allocation) %></th>
          </tr>
        </thead>
        <tbody>
          <% @services.each do |service| %>
            <% employee_allocation = service.get_employee_allocation(@employee) %>
            <tr>
              <td> 
                <%= render  :partial => "/shared/can_update_service", 
                            :locals => {:service => employee_allocation.service} %>
              </td>
              <td class="form-inline"> 
                <%= employee_allocation.allocation.round(@allocation_precision) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

  </div>



  <div class="tab-pane" id="products">
  

    <% if @employee.employee_products.any? %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= t(:product) %></th>
            <th><%= t(:allocation) %></th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
            <% employee_product = product.get_employee_product(@employee) %>
            <tr>
              <td> 
                <%= render  :partial => "/shared/can_update_product", 
                            :locals => {:product => product} %>
              </td>
              <td class="form-inline"> 
                <%= employee_product.allocation.round(@allocation_precision) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

  </div>

</div>



<br/>
<%= link_to t(:return_to) + t(:all_employees), employees_path %>