<%= render  :partial => "/shared/object_view_header", 
            :locals => {:view =>nil, :object => @employee} %>


<table class="table table-striped overview">
  <caption> <%= t(:overview) %> </caption>
  <tbody>
    <tr>
      <td>
        <div class="overview-label">
          <%= t(:services) %>
        </div>
        <%= @total_services %> 
      </td>
      <td>
        <div class="overview-label">
          <%= t(:service) + t(:allocation) %>
        </div>
        <%= "#{@total_service_allocation} " + t(:fte) %>
      </td>
    </tr>
    <tr>
      <td>
        <div class="overview-label">
          <%= t(:products) %>
        </div>
        <%= @total_products %>
      </td>
      <td>
        <div class="overview-label">
          <%= t(:product) + t(:allocation) %>
        </div>
        <%= "#{@total_product_allocation} " + t(:fte) %>
      </td>
    </tr>
  </tbody>
</table>


<ul class="nav nav-tabs" id="my-tab">
  <li class="active">
    <a href="#services" id="services_tab" data-toggle="tab"> 
      <%= t(:services) %>
    </a>
  </li>
  <li>
    <a href="#products" id="products_tab" data-toggle="tab" > 
      <%= t(:products) %>
    </a>
  </li>
  <li>
    <a href="#basic_information" id="basic_information_tab" data-toggle="tab"> 
      <%= t(:notes) + t(:and) + t(:groups) %>
    </a>
  </li>
</ul>


<div class="tab-content">
  <div class="tab-pane tabs-right" id="basic_information">
    <%= render  :partial => "/shared/all_year_select", 
                :locals => {:@year => @year, :@all_years => @all_years } %>
    <div class="form-horizontal year-content">
      <div class="control-group">
        <span class="control-label">
          <%= label_tag t(:groups) %> 
        </span>
        <span class="controls">
          <% unless @employee_groups.blank? %>
            <%= @employee_groups.collect{|g| 
                  link_to g.name, group_path(g.group_id)}.join(", &nbsp;").html_safe %>
          <% end %>
        </span>
      </div>
      <div class="control-group">
        <span class="control-label">
          <%= label_tag t(:email) %> 
        </span>
        <span class="controls">
          <%= @employee.email %>    
        </span>
      </div>
      <div class="control-group">
        <span class="control-label">
          <%= label_tag t(:notes) %> 
        </span>
        <span class="controls">
          <%= simple_format(@employee.notes) %>
        </span>
      </div>
    </div>
  </div>
    
    
    
  <div class="tab-pane tabs-right active" id="services">
    <%= render  :partial => "/shared/all_year_select", 
                :locals => {:@year => @year, :@all_years => @all_years } %>
    <div class="year-content">
      <% if @service_allocations.blank? %>
        <p> <%= t(:nothing_to_display) %> </p>
      <% else %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th><%= t(:service) %></th>
              <th><%= t(:allocation) %></th>
            </tr>
          </thead>
          <tbody>
            <% @service_allocations.each do |service_allocation| %>
              <tr>
                <td> 
                  <%= link_to service_allocation.name, service_path(service_allocation.service_id) %>
                </td>
                <td class="form-inline"> 
                  <%= "#{service_allocation.rounded_allocation(@allocation_precision)} " + t(:fte) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>



  <div class="tab-pane tabs-right" id="products">
    <%= render  :partial => "/shared/all_year_select", 
                :locals => {:@year => @year, :@all_years => @all_years } %>
    <div class="year-content">
      <% if @product_allocations.blank? %>
        <p> <%= t(:nothing_to_display) %> </p>
      <% else %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th><%= t(:product) %></th>
              <th><%= t(:allocation) %></th>
            </tr>
          </thead>
          <tbody>
            <% @product_allocations.each do |product_allocation| %>
              <tr>
                <td> 
                  <%= link_to product_allocation.name, product_path(product_allocation.product_id) %>
                </td>
                <td class="form-inline"> 
                  <%= "#{product_allocation.rounded_allocation(@allocation_precision)} " + t(:fte) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>

</div>



