<h2> <%= t(:user_settings) %> </h2>


<%= link_to t(:my_edit_page), edit_employee_path(@current_user.id) %>


<div class="form_with_light_border">
  <%= form_tag("update_settings", :method => "post", :class => "form_with_light_border") do %>
    <%= label_tag t(:preferred_language) %>
    <%= select(:employee, :preferred_language, [["English", "en"], ["Español", "es"]],
                 :selected => @current_user.preferred_language) %>
    <span class="tooltip_trigger information"> </span>
    <span class="tooltip">
      <p class="tooltip_paragraph"> 
        <%= t(:preferred_language_info) %> 
      </p>
    </span>
    <br/>
    <%= label_tag t(:new_user_reminder) %>
    <%= select(:employee, :new_user_reminder, [[t(:automatic), true], [t(:disabled), false]],
                 :selected => @current_user.new_user_reminder) %>
    <span class="tooltip_trigger information"> </span>
    <span class="tooltip">
      <ul>
        <li class="tooltip_li">
          <%= t(:new_user_reminder_info_0) %> 
        </li>
        <li class="tooltip_li">
          <%= t(:new_user_reminder_info_1) %>
        </li>
      </ul>
    </span>
    <br/>
    <%= submit_tag  t(:save_changes) %>
  <% end %>
</div>