<h1> Edit Theme </h1>
<%= error_messages_for :theme %>
<%= form_for @theme do |form| %>
	<p>
		<%= form.label :name %>
		<%= form.text_field :name %>
	</p>

	<p>
		<%= form.submit  "Save Theme" %>
	</p>
<% end %>


<%= link_to "Back", themes_path %>