<%= render  :partial => "/shared/object_view_header", 
            :locals => {:view => t(:edit_colon), :object => @portfolio} %>


<%= form_for @portfolio do |portfolio_form| %>


  <ul class="nav nav-tabs" id="my-tab">
   <li>
     <a href="#portfolio" id="portfolio_tab" data-toggle="tab" > 
       <%= t(:portfolio) + t(:information) %>
     </a>
   </li>
   <li class="active">
     <a href="#products" id="products_tab" data-toggle="tab"> 
       <%= t(:products)%> 
     </a>
   </li>
 </ul>



  <div class="tab-content"> 
    <div class="tab-pane" id="portfolio">
      <h3> <%= t(:portfolio) + t(:information) %> </h3>
      <div class="form-horizontal light-border">
        <%= fields_for @portfolio do |form| %>
          <div class="control-group">
            <span class="control-label">
              <%= form.label :name, t(:name) %>
            </span>
            <span class="controls">
              <%= form.text_field :name %>
            </span>
          </div>
          <div class="control-group">
            <span class="control-label">
              <%= form.submit  t(:save_changes) %>
            </span>
          </div>
        <% end %>
      </div>
    </div>
    
    
    <div class="tab-pane active" id="products">
      <h3> 
        Products in this portfolio 
        <%= render  :partial => "/portfolios/add_product", 
                    :locals => {:possible_products => @possible_products,
                                :possible_groups => @possible_groups} %>
      </h3>
      <div class="tabs-right">
        <%= render  :partial => "/shared/all_year_select", 
                      :locals => {:@year => @year, :@all_years => @all_years } %>
        <div class="year-content">
          <% if @product_groups.blank? %>
            <p>
              <%= t(:nothing_to_display) %>
            </p>
          <% else %>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th> <%= t(:product) %> </th>
                  <th> <%= t(:allocation) %> </th>
                  <th> <%= t(:check_to_remove) %> </th>
                </tr>
              </thead>
              <tbody>
                <% @product_groups.each_with_index do |product_group, index| %>
                  <%= portfolio_form.fields_for "product_groups", product_group do |form|%>
                    <tr>
                      <td> 
                        <%= link_to product_group.product.name, 
                            product_path(product_group.product_id) %>
                      </td>
                      <td> 
                        
                      </td>
                      <td>
                        <%= form.hidden_field(:group_id, :value => product_group.group_id) %>
                        <%= form.hidden_field(:product_id, :value => product_group.product_id) %>
                        <%= form.check_box :_destroy %>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          <% end %>          
        </div>        
      </div>
      <%= portfolio_form.submit  t(:save_changes) %>
    </div>
  </div>
<% end %>