<h2> 
  <%= t(:edit) + t(:portfolio_colon) %> <%= @portfolio.name %> 
  <%= link_to "#{content_tag :em, '', :class => ''}
            #{t(:return_to)} #{t(:group)}".html_safe, edit_group_path(@portfolio.group_id) %>
  <a  class="btn btn-danger pull-right" data-method="delete"
      data-confirm="<%=t(:confirm_deletion)%>" href="<%=portfolio_path(@portfolio)%>">
    <i class="icon-trash icon-white"></i>
    <%= t(:delete) %>
  </a>
</h2>


<%= form_for @portfolio do |portfolio_form| %>


  <% unless @possible_products.blank? %>
    <div class="form-inline">
      <fieldset class="light-border">
        <legend><%= t(:add) + t(:product) %></legend>
        <%= fields_for "product" do |form|%>
          <%= form.label :id, t(:name) %>
          <%= form.select(:id, options_from_collection_for_select(
                          @possible_products, :id, :name),
                          {:include_blank => "-" + t(:select) + t(:product) + "-"}, 
                          {:class => "autocomplete large-select"}) %>
          <%= form.submit  t(:add) %>
        <% end %>
      </fieldset>
    </div>
  <% end %>
      
      

  <h3> Products in this portfolio </h3>
  <div class="tabs-right">
    <%= render  :partial => "/shared/all_year_select", 
                  :locals => {:@year => @year, :@all_years => @all_years } %>
    <div class="year-content">
      <% if @portfolio_products.blank? %>
        <p>
          <%= t(:nothing_to_display) %>
        </p>
      <% else %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th> <%= t(:product) %> </th>
              <th class='variable-size'> <%= t(:priority) %> </th>
              <th> <%= t(:product_state) %> </th>
              <th> <%= t(:product_type) %> </th>
              <th> <%= t(:allocation) %> </th>
              <th> <%= t(:check_to_remove) %> </th>
            </tr>
          </thead>
          <tbody>
            <% @portfolio_products.each_with_index do |portfolio_product, index| %>
              <%= portfolio_form.fields_for "portfolio_products", portfolio_product do |form|%>
                <tr>
                  <td> 
                    <%= link_to portfolio_product.product.name, 
                        product_path(portfolio_product.product_id) %>
                  </td>
                  <td class='variable-size'> 
                    <%= portfolio_product.product.priority %>
                  </td>
                  <td > 
                    <%= portfolio_product.product.state %>
                  </td>
                  <td> 
                    <%= portfolio_product.product.type %>
                  </td>
                  <td> 
                    <%= @product_allocations[index] %>
                  </td>
                  <td>
                    <%= form.check_box :_destroy %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
  <%= portfolio_form.submit  t(:save_changes) %>
<% end %>