<div class="view-header">
  <div class="view-header-inner">
    <h2> <%= t(:portfolios) %> </h2>
    <%= render  :partial => "/portfolios/new_portfolio", 
                :locals => {:new_portfolio => @new_portfolio} %>
  </div>
</div>


<div class="filter">
  <h5> <%= t(:filter_results) %> </h5>
  <%= form_tag(portfolios_path, :method => "get", :class => "form-inline") do %>
    <%= text_field_tag "search[name]", @name, 
                          :placeholder => t(:portfolio) + t(:name) %>
    <%= collection_select(:search, :group, @groups, :id, :name, 
                         {:include_blank =>   t(:all_groups),
                          :selected => @group}, {:class => "autocomplete large-select"}) %>
    <%= collection_select(:search, :product, @products, :id, :name, 
                         {:include_blank =>   t(:all_products),
                          :selected => @product}, {:class => "autocomplete large-select"}) %>
    <div class="btn-group">
      <%= submit_tag t(:search), :class => "btn" %>
      <%= link_to t(:clear), portfolios_path, :class => "btn" %>
    </div>
  <% end %>
</div>


<div class="filtered-table">
  <% unless @portfolios.blank? %>
    <table class="table table-striped">
      <thead>
        <th> 
          <%= sort_column(t(:name), request.fullpath, nil, 'portfolios.name', @order, @ascending) %>
        </th>
        <th colspan=2> 
          <%= t(:products) %>
        </th>
      </thead>
      <tbody>
        <% @portfolios.each do |portfolio| %>
          <% products = portfolio.products %>
          <% products_1 = products[0..(products.length / 2 - 1)] %>
          <% products_2 = products[(products.length / 2)..(products.length - 1)] %>        
          <tr>
            <td>
              <%= link_to portfolio.name, portfolio_path(portfolio.id) %>
            </td>
            <td>
              <% products_1.each do |product| %>
                <%= render :partial => "/products/product_group_portfolios_tooltip", 
                    :locals => {:product => product} %>
                <%= link_to product.name, product_path(product.id) %>
                <br/>
              <% end %>
            </td>
            <td>
              <% products_2.each do |product| %>
                <%= render :partial => "/products/product_group_portfolios_tooltip", 
                    :locals => {:product => product} %>
                <%= link_to product.name, product_path(product.id) %>
                <br/>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  
  
  <div class="pagination_footer">
    <%= will_paginate @employees %>
    <%= render :partial => "/shared/results_per_page" %>
  </div>
</div>


<script type="text/javascript">
  var do_not_check_for_changes = true;
</script>
