<h2> 
  <%= t(:portfolios) %> 
</h2>


<fieldset class="light-border">
  <legend> <%= t(:filter_results) %> </legend>
  <%= form_tag(portfolios_path, :method => "get", :class => "form-inline") do %>
    <%= text_field_tag "search[portfolio_name]", @portfolio_name, :placeholder => "-All Portfolio Names-" %>
    <%= collection_select(:search, :group, @groups, :id, :name, 
                         {:include_blank => "-" + t(:all_groups) + "-",
                          :selected => @group}, {:class => "autocomplete large-select"}) %>
    <%= collection_select(:search, :product, @products, :id, :name, 
                         {:include_blank => "-" + t(:all_products) + "-",
                          :selected => @product}, {:class => "autocomplete large-select"}) %>
    <%= select(:search, :global, [[t(:global), true], [t(:local), false]],
                         {:include_blank => "-#{t(:global)} / #{t(:local)}-",
                          :selected => @global}) %>
    <%= submit_tag t(:search) %>
  <% end %>
</fieldset>

<% unless @portfolio_array.blank? %>
      <div class="half1">
         <%= sort_column(t(:name), request.fullpath, nil, 'portfolio_names.name', @order, @ascending) %> 
       </div>
       <div class="half2">
         <%= sort_column(t(:name), request.fullpath, nil, 'portfolio_names.name', @order, @ascending) %> 
       </div>
      <% @count = 0 %>
      <% while @portfolio_array[@count] %>
        <div class="whole">
          <div class="half1">
            <% portfolio = @portfolio_array[@count] %>
            <span class="thing0">
              <%= portfolio[0] %>
            </span>
            <% portfolio[1].each do |product| %>
              <span class="thing1">
                <span class="thing2">
                  <%= product.name %>
                </span>
                <% product.groups.order(:name).each do |group| %>
                  <span class="thing3">
                    <%= group.name %>
                  </span>
                <% end %>
              </span>
            <% end %>
          </div>
          <div class="half2">
            <% unless @portfolio_array[@count + 1].blank? %>
              <% portfolio = @portfolio_array[@count + 1] %>
              <span class="thing0">
                <%= portfolio[0] %>
              </span>
              <% portfolio[1].each do |product| %>
                <span class="thing1">
                  <span class="thing2">
                    <%= product.name %>
                  </span>
                  <% product.groups.order(:name).each do |group| %>
                    <span class="thing3">
                      <%= group.name %>
                    </span>
                  <% end %>
                </span>
              <% end %>
            <% end %>
          </div>
        </div>  
        <% @count += 2 %>
      <% end %>
<% end %>


<script type="text/javascript">
  var do_not_check_for_changes = true;
</script>
