<h2> 
  <%= t(:portfolios) %> 
</h2>

<fieldset class="light-border">
  <legend> <%= t(:filter_results) %> </legend>
  <%= form_tag(portfolios_path, :method => "get", :class => "form-inline") do %>
    <%= text_field_tag "search[portfolio_name]", @portfolio_name, :placeholder => "-All Portfolio Names-" %>
    <%= collection_select(:search, :group, @groups, :id, :name, 
                         {:include_blank => "-" + t(:all_groups) + "-",
                          :selected => @group}, {:class => "autocomplete large-select"}) %>

    <%= collection_select(:search, :portfolio_state, @portfolio_states, :id, :name, 
                         {:include_blank => "-" + t(:all_portfolio_states) + "-",
                          :selected => @portfolio_state}, {:class => "autocomplete large-select"}) %>
    <%= collection_select(:search, :portfolio_type, @portfolio_types, :id, :name, 
                         {:include_blank => "-" + t(:all_portfolio_types) + "-",
                          :selected => @portfolio_type}, {:class => "autocomplete large-select"}) %>
    <%= submit_tag t(:search) %>
  <% end %>
</fieldset>


<table class="table table-striped">
  <caption> <%= t(:all_groups) %> </caption>
  <thead>
    <th> <%= sort_column(t(:name), request.fullpath, nil, 'name', @order, @ascending) %>  </th>
    <th> <%= t(:total_employees) %> </th>
    <th> </th>
  </thead>
  <tbody>
    <% unless @groups.blank? %>
      <% @groups.each do |group| %>
        <tr class="<%= cycle('odd', 'even') %>">
          <td> 
            <%= link_to group.name, group_path(group.id) %>
          </td>
          <td> 
            <%= group.employees.length.to_s %>
          </td>
          <td> 
            <% if can? :destroy, Group %>
              <%= link_to t(:delete), group_path(group.id), :method => :delete, 
                          :confirm => t(:confirm_deletion) %> 
            <% end %>
          </td>
        </tr>  
      <% end %>
    <% end %>
  </tbody>
</table>


<script type="text/javascript">
  var do_not_check_for_changes = true;
</script>
