<div class="view-header">
  <div class="view-header-inner">
    <h2> <%= t(:portfolios) %> </h2>
    <%= render  :partial => "/portfolios/new_portfolio", 
                :locals => {:new_portfolio => @new_portfolio} %>
  </div>
</div>


<fieldset class="light-border">
  <legend> <%= t(:filter_results) %> </legend>
  <%= form_tag(portfolios_path, :method => "get", :class => "form-inline") do %>
    <%= text_field_tag "search[name]", @name, 
                          :placeholder => t(:portfolio) + t(:name) %>
    <%= collection_select(:search, :group, @groups, :id, :name, 
                         {:include_blank =>   t(:all_groups),
                          :selected => @group}, {:class => "autocomplete large-select"}) %>
    <%= collection_select(:search, :product, @products, :id, :name, 
                         {:include_blank =>   t(:all_products),
                          :selected => @product}, {:class => "autocomplete large-select"}) %>
    <%= select(:search, :global, [[t(:global), true], [t(:local), false]],
                         {:include_blank => "#{t(:global)} / #{t(:local)}",
                          :selected => @global}) %>
    <%= submit_tag t(:search) %>
  <% end %>
</fieldset>



<% unless @portfolios.blank? %>
  <table class="table table-striped">
    <caption> <%= t(:all_portfolios) %> </caption>
    <thead>
      <th> <%= sort_column(t(:name), request.fullpath, nil, 'portfolios.name', @order, @ascending) %> </th>
      <th colspan=2> <%= t(:products) %> </th>
    </thead>
    <tbody>
      <% @portfolios.each do |portfolio| %>
        <% products = portfolio.products %>
        <% products_1 = products[0..(products.length / 2 - 1)] %>
        <% products_2 = products[(products.length / 2)..(products.length - 1)] %>        
        <tr>
          <td>
            <%= link_to portfolio.name, portfolio_path(portfolio.id) %>
          </td>
          <td>
            <% products_1.each do |product| %>
              <span class="tooltip_trigger">
                <i class="icon-th-list"></i>
              </span>
              <div class="tooltip">
                <table class="tooltip-table">
                  <thead>
                    <tr>
                      <th> <%= t(:groups) %> </th>
                    </tr>
                  </thead>
                  <tbody>
                    <% product.groups.each do |group| %>
                      <tr>
                        <td> 
                          <%= group.name %> 
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
              <%= link_to product.name, product_path(product.id) %>
              <br/>
            <% end %>
          </td>
          <td>
            <% products_2.each do |product| %>
              <span class="tooltip_trigger">
                <i class="icon-th-list"></i>
              </span>
              <div class="tooltip">
                <table class="tooltip-table">
                  <thead>
                    <tr>
                      <th> <%= t(:groups) %> </th>
                    </tr>
                  </thead>
                  <tbody>
                    <% product.groups.each do |group| %>
                      <tr>
                        <td> 
                          <%= group.name %> 
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
              <%= link_to product.name, product_path(product.id) %>
              <br/>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>

  </table>
<% end %>


<script type="text/javascript">
  var do_not_check_for_changes = true;
</script>
