<% unless possible_employees.blank? %>


  <a class="btn btn-small" data-toggle="modal" data-target="#modal-content" href="#">
    <i class="icon-plus"></i>
    <%= "#{t(:add)} #{t(:employee)}" %>
  </a>
  
  
  
  <div class="modal hide fade" id="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h4> <%= t(:add) + " " + t(:employee) %> </h4>
    </div>
    <%= fields_for "employee_group" do |form|%>
      <div class="modal-body form-inline">
        <%= form.label :employee_id, t(:name) %>
        <%= form.select(:employee_id, options_from_collection_for_select(
                        @possible_employees, :id, :full_name),
                        {:include_blank => t(:select) + t(:employee)}, 
                        {:class => "autocomplete large-select"}) %> 
      </v>
      <div class="modal-footer">
        <a class="btn" data-dismiss="modal" aria-hidden="true"> <%= t(:cancel) %> </a>
        <%= submit_tag  t(:add), :class => "btn btn-success" %>
      </div>
    <% end %>
  </div>
  
  
<% end %>