<% unless possible_products.blank? %>

  
  <a class="btn btn-small" data-toggle="modal" data-target="#add-product-<%= index %>" href="#">
    <i class="icon-plus"></i>
    <%= "#{t(:add)} #{t(:product)}" %>
  </a>
  
  
  <div class="modal hide fade" id="add-product-<%= index %>">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h4> <%= t(:add) + t(:product) %> </h4>
    </div>
    <%= fields_for "new_product_groups[#{index}]" do |form|%>
      <div class="modal-body form-inline">
        <%= form.label :product_id, t(:product) %>
        <%= form.select(:product_id, options_from_collection_for_select(
                        possible_products, :id, :name),
                        {:include_blank => t(:select) + t(:product)}, 
                        {:class => "autocomplete large-select"}) %> 
        <%= form.hidden_field(:group_id, :value => group.id) %>
        <%= form.hidden_field(:portfolio_id, :value => portfolio.id) %>
      </div>
      <div class="modal-footer">
        <a class="btn" data-dismiss="modal" aria-hidden="true"> <%= t(:cancel) %> </a>
        <%= form.submit t(:add), :class => "btn btn-success" %>
      </div>
    <% end %>
  </div>
  
  
<% end %>