<h2> <%= t(:edit) + t(:group) %>: <%= @group.name %> </h2>


<div class="form-inline light-border">
  <%= form_for @group do |form| %>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <%= form.submit  t(:save_changes) %>
  <% end %>
</div>


<br/><br/>
<%= link_to t(:return_to) + t(:all_groups), groups_path %>
