<%= render  :partial => "/shared/object_view_header", 
            :locals => {:view => t(:edit_colon), :object => @group} %>


<%= form_for @group do |group_form| %>


  <ul class="nav nav-tabs" id="my-tab">
    <li class="active">
      <a href="#employees" id="employees_tab" data-toggle="tab" > 
        <%= t(:employees) %>
      </a>
    </li>
    <li>
      <a href="#products" id="products_tab" data-toggle="tab"> 
        <%= t(:products) %> 
      </a>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#"> 
        <%= t(:portfolios) %>
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <% unless @possible_portfolios.blank? %>
          <li>
            <a data-toggle="modal" data-target="#add-portfolio" href="#">
              <i class="icon-plus"></i>
              <%= "#{t(:add)} #{t(:portfolio)}" %>
            </a>
          </li>
        <% end %>
        <% @portfolios.each_with_index do |portfolio, index| %>
          <li>
            <a href="#portfolio-<%= index %>" id="portfolio-tab-<%= index %>" data-toggle="tab"> 
              <%= portfolio.name %> 
            </a>
          </li>
        <% end %>
      </ul>
    </li>
    <li>
      <a href="#group" id="group_tab" data-toggle="tab"> 
        <%= t(:group) + t(:information) %> 
      </a>
    </li>
  </ul>
  
  
  
  
  <%= render  :partial => "/groups/add_portfolio", 
              :locals => {:possible_portfolios => @possible_portfolios, :group => @group} %>
  
  
  
  
  
  <div class="tab-content">
      
    <div class="tab-pane" id="group"> 
      <h3>
        <%= t(:group) + t(:information) %>
      </h3>
      <div class="form-horizontal light-border">
        <%= fields_for @group do |form| %>
          <div class="control-group">
            <span class="control-label">
              <%= form.label :name, t(:name) %>
            </span>
            <span class="controls">
              <%= form.text_field :name %>
            </span>
          </div>
          <div class="control-group">
            <span class="control-label">
              <%= form.submit  t(:save_changes) %>
            </span>
          </div>
        <% end %>
      </div>
    </div>
    
  
  
  
  
    <% @portfolios.each_with_index do |portfolio, index| %>
      <div class="tab-pane tabs-right" id="portfolio-<%= index %>">
        <h3> 
          <%= link_to portfolio.name, portfolio_path(portfolio.id) %>
          <%= render  :partial => "/groups/add_product", 
                      :locals => {:possible_products => 
                                  portfolio.possible_products_for_group(@group),
                                  :group => @group, :portfolio => portfolio, :index => index} %>
        </h3>
        <%= render  :partial => "/shared/all_year_select", 
                      :locals => {:@year => @year, :@all_years => @all_years } %>
        <div class="year-content">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  <%= t(:product) %>
                </th>
                <th>
                  <%= t(:allocation) %>
                </th>
                <th> 
                  <%= t(:check_to_remove) %>
                </th>
              </tr>
            </thead>
            <tbody>
              <% portfolio.product_group_portfolios_for_group(@group).each do |product_group_portfolio| %>
                <% product = product_group_portfolio.product %>
                <tr>
                  <td>
                    <%= link_to product.name, product_path(product.id) %>
                  </td>
                  <td>
                    <%= product.get_allocation_for_group(@group, @year, @allocation_precision) %>
                  </td>
                  <td>
                    <%= group_form.fields_for "product_group_portfolios", product_group_portfolio do |form|%>
                      <%= form.hidden_field(:portfolio_id, :value => product_group_portfolio.portfolio_id) %>
                      <%= form.hidden_field(:id, :value => product_group_portfolio.id) %>
                      <%= form.hidden_field(:product_id, :value => product_group_portfolio.product_id) %>
                      <%= form.check_box :_destroy %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
              <tr>
                <td> 
                  <%= t(:total_allocation) %>
                </td>
                <td>
                  <%= portfolio.get_allocation_for_group(@group, @year, @allocation_precision).to_s + t(:fte) %>
                </td>
                <td> </td>
              </tr>
            </tbody>
          </table>
        </div>
        <%= group_form.submit  t(:save_changes) %> 
      </div>
    <% end %>
  
  
  
  
  
    <div class="tab-pane active" id="employees">
      <h3> 
        <%= t(:existing_employees) %> 
        <%= render  :partial => "/groups/add_employee", 
                    :locals => {:possible_employees => @possible_employees} %>
      </h3> 
      <% if @existing_employees.blank? %>
        <%= render  :partial => "/shared/nothing_to_display" %>
      <% else %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th> 
                <%= t(:name) %>
              </th>
              <th> 
                <%= t(:group_admin) %>
              </th>
              <th> 
                <%= t(:check_to_remove) %>
              </th>
            </tr>
          </thead>
          <tbody>
            <% @existing_employees.each do |employee_group| %>
              <%= group_form.fields_for "employee_groups", employee_group do |form|%>
                <tr>
                  <td>
                    <%= link_to employee_group.employee.full_name,
                        employee_path(employee_group.employee_id) %>
                  </td>
                  <td>
                    <%= form.hidden_field(:employee_id, :value => employee_group.employee_id) %>
                    <%= form.hidden_field(:id, :value => employee_group.id) %>
                    <%= form.check_box :group_admin, :value => employee_group.group_admin %>
                  </td>
                  <td>
                    <%= form.check_box :_destroy %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
        <div class="pagination_footer">
          <%= will_paginate @existing_employees, :param_name => :employees_page %>
          <%= render :partial => "/shared/results_per_page" %>
        </div>
      <% end %>
      <%= group_form.submit  t(:save_changes) %> 
    </div>
    
    
    
    
    
    
    <div class="tab-pane tabs-right" id="products">
      <h3> 
        <%= t(:products) %>
        <%= render  :partial => "/products/add_product", 
                    :locals => {:products => @available_products,
                                :title => "product",
                                :form_name => "new_product_group"} %>
      </h3>
      <%= render  :partial => "/shared/all_year_select", 
                    :locals => {:@year => @year, :@all_years => @all_years } %>
      <div class="year-content">
        <% if @products.blank? %>
          <%= render  :partial => "/shared/nothing_to_display" %>
        <% else %>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  <%= t(:product) %>
                </th>
                <th>
                  <%= t(:allocation) %>
                </th>
                <th> 
                  <%= t(:check_to_remove) %>
                </th>
              </tr>
            </thead>
            <tbody>
              <% portfolio.product_group_portfolios_for_group(@group).each do |product_group_portfolio| %>
                <% product = product_group_portfolio.product %>
                <tr>
                  <td>
                    <%= link_to product.name, product_path(product.id) %>
                  </td>
                  <td>
                    <%= product.get_allocation_for_group(@group, @year, @allocation_precision) %>
                  </td>
                  <td>
                    <%= group_form.fields_for "product_group_portfolios", product_group_portfolio do |form|%>
                      <%= form.hidden_field(:portfolio_id, :value => product_group_portfolio.portfolio_id) %>
                      <%= form.hidden_field(:id, :value => product_group_portfolio.id) %>
                      <%= form.hidden_field(:product_id, :value => product_group_portfolio.product_id) %>
                      <%= form.check_box :_destroy %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
              <tr>
                <td> 
                  <%= t(:total_allocation) %>
                </td>
                <td>
                  <%= portfolio.get_allocation_for_group(@group, @year, @allocation_precision).to_s + t(:fte) %>
                </td>
                <td> </td>
              </tr>
            </tbody>
          </table>
        <% end %>
      </div>
      <%= group_form.submit  t(:save_changes) %> 
    </div>
    
    
    
    
    
  </div>  
<% end %>
