<h2> <%= t(:edit) + t(:group) %>: <%= @group.name %> </h2>


<%= form_for @group do |form| %>
  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <%= form.submit  t(:save_changes) %>
  </p>
<% end %>


<br/><br/>
<%= link_to t(:return_to) + t(:all_groups), groups_path %>
