<h2> 
  <%= t(:edit) + t(:group_colon) %> <%= @group.name %> 
  <%= link_to "#{content_tag :em, '', :class => ''}
            #{t(:show)}".html_safe, group_path(@group.id) %>
</h2>


<ul class="nav nav-tabs" id="my-tab">
  <li class="active">
    <a href="#employees" id="employees_tab" data-toggle="tab" > 
      Employees
    </a>
  </li>
  <li>
    <a href="#group" id="group_tab" data-toggle="tab"> 
      Group Information
    </a>
  </li>
</ul>


<div class="tab-content">
    
  <div class="tab-pane" id="group">
    
    <div class="form-inline light-border">
      <%= form_for @group do |form| %>
        <%= form.label :name %>
        <%= form.text_field :name %>
        <%= form.submit  t(:save_changes) %>
      <% end %>
    </div>
    
  </div>




  <div class="tab-pane active" id="employees">

    <% unless @possible_employees.blank? %>
      <div class="form-inline">
        <fieldset class="light-border">
          <legend><%= t(:add) + t(:employee) %></legend>
          <%= form_tag( "add_employee", :method => "post") do %>
            <%= label_tag :employee_id, t(:name) %>
            <%= collection_select(:employee, :id, @possible_employees, :id, :full_name,
                                 {:include_blank => true}, {:class => "autocomplete large-select", 
                                 "data-placeholder" => "Choose an employee"}) %>
            <%= submit_tag  t(:add) %>
          <% end %>
        </fieldset>
      </div>
    <% end %>
    
    
    <% unless @existing_employees.blank? %>
      <table class="table table-striped"><caption> <%= t(:existing_employees) %> </caption>
        <tbody>
          <% @existing_employees.each do |employee| %>
            <tr>
              <td>
                <%= link_to employee.full_name, employee_path(employee.id) %>
              </td>
              <td>
                <%= form_tag("toggle_group_admin", :method => "post", 
                            :class => "prevent_double_submit") do %>
                  <%= hidden_field_tag(:employee, employee.id) %>
                  <% if @group.employee_groups.find_by_employee_id(employee.id).group_admin &&
                        ((employee != @current_user) || @current_user.site_admin )%>
                    <%= submit_tag  t(:remove) + t(:group_admin), :confirm => t(:confirm_removal) %>
                  <% else %>
                    <%= submit_tag  t(:make) + t(:group_admin), :confirm => t(:confirm_admin) %>
                  <% end %>
                <% end %>
              </td>
              <td>
                <%= form_tag("remove_employee", :method => "post") do %>
                  <%= hidden_field_tag(:employee, employee.id) %>
                  <%= submit_tag  t(:remove), :confirm => t(:confirm_removal) %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="pagination_footer">
        <%= will_paginate @existing_employees, :param_name => :employees_page %>
        <%= render :partial => "/shared/results_per_page" %>
      </div>
    <% end %>
  </div>
</div>
