<h2> <%= t(:edit) + t(:group) %>: <%= @group.name %> </h2>


<%= error_messages_for :group %>
<%= form_for @group do |form| %>
	<p>
		<%= form.label t(:name) %>
		<%= form.text_field :name %>
	</p>
	<p>
		<label> &nbsp </label>
		<%= form.submit  t(:save_changes) %>
	</p>
<% end %>


<br/><br/>
<%= link_to t(:return_to) + t(:all_groups), groups_path %>
