<h2> <%= t(:groups) %> </h2>


<% if can? :create, Group %>
  <div class="form-inline">
    <fieldset class="light-border">
      <legend><%= t(:new_group) %></legend>
      <%= form_for @group do |form| %>
        <%= form.label :name %>
        <%= form.text_field :name %>
        <%= form.submit  t(:create) + t(:group) %>
      <% end %>
    </fieldset>
  </div>
<% end %>

  
<table class="table table-striped">
  <caption> <%= t(:all_groups) %> </caption>
  <thead>
    <th> <%= t(:name) %> </th>
    <th> <%= t(:total_employees) %> </th>
    <th> </th>
  </thead>
  <tbody>
    <% if Group.first != nil %>
      <% @groups.each do |group| %>
        <tr class="<%= cycle('odd', 'even') %>">
          <td> 
            <% if can? :update, group %>
              <%= link_to group.name , edit_group_path(group.id) %>
            <% else %>
              <%= group.name %>
            <% end %>
          </td>
          <td> 
            <% if can? :update, group %>
              <%= link_to group.employees.length.to_s + ", " + t(:click_to_manage),
                          roster_group_path(group.id) %>
            <% else %>
              <%= link_to group.employees.length.to_s + ", " + t(:click_to_view),
                          roster_group_path(group.id) %>
            <% end %>
          </td>
          <td> 
            <% if can? :delete, Group %>
              <%= link_to t(:delete), group_path(group.id), :method => :delete, 
                          :confirm => t(:confirm_deletion) %> 
            <% end %>
          </td>
        </tr>  
      <% end %>
    <% end %>
  </tbody>
</table>