<h2> Groups </h2>


<% if can? :create, Group %>
	<fieldset>
		<legend>New Group</legend>
		<%= error_messages_for :group %>
		<%= form_for @group do |form| %>
			<%= form.label "Name:" %>
			<%= form.text_field :name %>
			</br>
			<label> &nbsp </label>
			<%= form.submit  "Create Group" %>
		<% end %>
	</fieldset>
<% end %>

	
<table class="list issues">
	<caption> All Groups </caption>
	<thead>
		<th> Name </th>
		<th> Total Employees </th>
		<th> </th>
	</thead>
	<tbody>
		<% if Group.first != nil %>
			<% @groups.each do |group| %>
				<% if @odd %>
					<% @odd = false %>
					<tr class="even">
				<% else %>
					<% @odd = true %>
					<tr class="odd">
				<% end %>
					<td> 
						<% if can? :update, group %>
							<%= link_to group.name , edit_group_path(group.id) %>
						<% else %>
							<%= group.name %>
						<% end %>
					</td>
					<td> 
						<%= link_to group.employees.length.to_s + " (Click to view)",
						 						roster_group_path(group.id) %>
					</td>
					<td> 
						<% if can? :delete, Group %>
							<%= link_to "Delete", group_path(group.id), :method=>:delete, 
													:confirm=>"Confirm group deletion" %> 
						<% end %>
					</td>
				</tr>	
			<% end %>
		<% end %>
	</tbody>
</table>