<div class="view-header">
  <div class="view-header-inner">
    <h2> <%= t(:groups) %> </h2>
    <%= render  :partial => "/groups/new_group", 
                :locals => {:new_group => @new_group} %>
  </div>
</div>



<div class="filter">
  <h5> <%= t(:filter_results) %> </h5>
  <%= form_tag(groups_path, :method => "get", :class => "form-inline") do %>
    <%= text_field_tag "search[name]", @name, :placeholder => t(:group) + t(:name) %>
    <%= submit_tag t(:search) %>
  <% end %>
</div>



<div class="filtered-table">
  <table class="table table-striped">
    <thead>
      <th> <%= sort_column(t(:name), request.fullpath, nil, 'name', @order, @ascending) %>  </th>
      <th> <%= t(:total_employees) %> </th>
    </thead>
    <tbody>
      <% unless @groups.blank? %>
        <% @groups.each do |group| %>
          <tr class="<%= cycle('odd', 'even') %>">
            <td> 
              <%= link_to group.name, group_path(group.id) %>
            </td>
            <td> 
              <%= group.employees.length.to_s %>
            </td>
          </tr>  
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>



<script type="text/javascript">
  var do_not_check_for_changes = true;
</script>
