<h2> Groups </h2>


<% if can? :create, Group %>
	<%= link_to "New Group" , new_group_path %>
<% end %>
	
	
<table class="list issues">
	<caption> All Groups </caption>
	<thead>
		<th> Name </th>
		<th>  </th>
		<th> Total Employees </th>
		<th> Employee Roster </th>
		<th> </th>
	</thead>
	<tbody>
		<% if Group.first != nil %>
			<% @groups.each do |group| %>
				<% if @odd %>
					<% @odd = false %>
					<tr class="even">
				<% else %>
					<% @odd = true %>
					<tr class="odd">
				<% end %>
					<td> <%= group.name %></td>
					<td> 
						<% if can? :update, group %>
							<%= link_to "Edit Name" , edit_group_path(group.id) %>
						<% end %>
					</td>
					<td> <%= group.employees.length %> </td>
					<td> <%= link_to "View Roster" , roster_group_path(group.id) %></td>
					<td> 
						<% if can? :delete, Group %>
							<%= link_to "Delete", group_path(group.id), :method=>:delete, 
													:confirm=>"Confirm group deletion" %> 
						<% end %>
					</td>
				</tr>	
			<% end %>
		<% end %>
	</tbody>
</table>