<h1> Groups </h1>

<%= link_to "New Group" , new_group_path %>
<table class="table table-striped">
	<caption> All Groups </caption>
	<thead>
		<th> Name </th>
		<th> Edit Name </th>
		<th> Total Employees </th>
		<th> Employee Roster </th>
		<th> Delete</th>
	</thead>
	<% if Group.first != nil %>
		<% @groups.each do |group| %>
			<tbody>
				<tr>
					<td> <%= group.name %></td>
					<td> <%= link_to "Edit Name" , edit_group_path(group.id) %></td>
					<td> <%= group.employees.length %> </td>
					<td> <%= link_to "Employee Roster" , roster_group_path(group.id) %></td>
					<td> <%= link_to "Delete", group_path(group.id), :method=>:delete, :confirm=>"Confirm
					 			group deletion" %> </td>
				</tr>	
			</tbody>
		<% end %>
	<% end %>
</table>