<h2> 
  <%= t(:group_colon) + @group.name %> 
  <% if can? :update, @group %>
    <%= link_to "#{content_tag :em, '', :class => 'icon-edit'}
                #{t(:edit)}".html_safe, edit_group_path(@group.id) %>
  <% end %>
</h2> 


<table class="table table-striped overview">
  <caption> <%= t(:overview) + " for #{@year.year}"%> </caption>
  <tbody>
    <tr>
      <td>
        <div class="overview-label">
          <%= t(:products) %>
        </div>
        <%= @total_products %> 
      </td>
      <td>
        <div class="overview-label">
          <%= t(:product) + t(:allocation) %>
        </div>
        <%= "#{@total_product_allocation} " + t(:fte) %>
      </td>
    </tr>
    <tr>
      <td>
        <div class="overview-label">
          <%= t(:employee_headcount) %>
        </div>
        <%= @total_employees %> 
      </td>
      <td>
        <div class="overview-label">
          <%= t(:employee) + t(:allocation) %>
        </div>
        <%= "#{@total_service_allocation} " + t(:fte) %>
      </td>
    </tr>
    <tr>
      <td>
        <div class="overview-label">
          <%= t(:services) %>
        </div>
        <%= @total_services %>
      </td>
      <td>

      </td>
    </tr>
  </tbody>
</table>




<ul class="nav nav-tabs" id="my-tab" style="clear:both;">
  <li class="active">
    <a href="#products" id="products_tab" data-toggle="tab" > 
      <%= t(:products) %>
    </a>
  </li>
  <li>
     <a href="#employees" id="employees_tab" data-toggle="tab" > 
       <%= t(:employees) %>
     </a>
   </li>
  <li>
    <a href="#services" id="services_tab" data-toggle="tab"> 
      <%= t(:services) %>
    </a>
  </li>
</ul>



<div class="tab-content">
    
  <div class="tab-pane tabs-right" id="services">
      <%= render  :partial => "/shared/all_year_select", 
                  :locals => {:@year => @year, :@all_years => @all_years } %>
      <div class="year-content">
        <% unless @services.blank? %>
          <table class="table table-striped">
            <thead>
              <tr>
                <th><%= t(:service) %></th>
                <th>
                  <%= t(:allocation) %>
                </th>
              </tr>
            </thead>
            <tbody>
              <% @services.each do |service| %>
                <tr>
                  <td> 
                    <%= link_to service.name, service_path(service.id) %>
                  </td>
                  <td>
                    <%= render  :partial => "/shared/service_employees_and_allocations", 
                                :locals => {:service => service} %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div class="pagination_footer">
            <%= will_paginate @services, :param_name => :services_page %>
            <%= render :partial => "/shared/results_per_page" %>
          </div>
        <% end %>
      </div>
  </div>


  <div class="tab-pane tabs-right" id="employees">
    <%= render  :partial => "/shared/all_year_select", 
                :locals => {:@year => @year, :@all_years => @all_years } %>
    <div class="year-content">
      <% unless @employees.blank? %>
        <table class="table table-striped"> 
          <thead>
            <tr>
              <th>
                <%= t(:employee) %>
              </th>
              <th>
                <%= t(:allocation) %>
              </th>
            </tr>
          </thead>
          <tbody>
            <% @employees.each do |employee| %>
              <tr>
                <td>
                  <%= link_to employee.full_name, employee_path(employee.id) %>
                </td>
                <td>
                  <%= render  :partial => "/shared/employee_services_and_allocations", 
                              :locals => {:employee => employee} %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="pagination_footer">
          <%= will_paginate @employees, :param_name => :employees_page %>
          <%= render :partial => "/shared/results_per_page" %>
        </div>
      <% end %>
    </div>
  </div>


  <div class="tab-pane tabs-right active" id="products">
    <%= render  :partial => "/shared/all_year_select", 
                  :locals => {:@year => @year, :@all_years => @all_years } %>
    <div class="year-content">
      <% unless @products.blank? %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th> <%= t(:product) %> </th>
              <th class='variable-size'> <%= t(:priority) %> </th>
              <th> <%= t(:product_state) %> </th>
              <th> <%= t(:product_type) %> </th>
            </tr>
          </thead>
          <tbody>
            <% @products.each do |product| %>
              <tr>
                <td> 
                  <%= link_to product.name, product_path(product.id) %>
                </td>
                <td class='variable-size'> 
                  <%= product.priority %>
                </td>
                <td > 
                  <%= product.state %>
                </td>
                <td > 
                  <%= product.type %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="pagination_footer">
          <%= will_paginate @products, :param_name => :products_page %>
          <%= render :partial => "/shared/results_per_page" %>
        </div>
      <% end %>
    </div>
  </div>
  
</div>


<script type="text/javascript">
  var do_not_check_for_changes = true;
</script>
