<h2> 
  Group: <%= @group.name %> 
  <% if can? :update, @group %>
    <%= link_to "#{content_tag :em, '', :class => 'icon-edit'}
                #{t(:edit)}".html_safe, edit_group_path(@group.id) %>
  <% end %>
</h2> 


<table class="table table-striped overview">
  <caption> Overview for <%= @group.name %> </caption>
  <thead>
    <tr>
      <th>
        
      </th>
      <th colspan="2">
        <%= form_tag change_year_logins_path, :method => "get" do %>
          Fiscal Year <%= select_tag(:year, 
              options_from_collection_for_select(@all_years, :year, :year,
              {:selected => @year.year}), :class => "tiny-select") %> 
          <%= submit_tag "(change)", :class => "tiny-submit" %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        Total Products: <%= @products.length if @products %> 
      </td>
      <td>
        Total Product Allocation: <%= @group.get_total_product_allocation(@year) %>
      </td>
      <td>
        Full-Time Equivalents: <%= @group.get_total_service_allocation(@year) %> 
      </td>
    </tr>
    <tr>
      <td>
        Employee Headcount: <%= @existing_employees.length  if @existing_employees %> 
      </td>
      <td>
        Total Services: <%= @services.length if @services %> 
      </td>
      <td>
        
      </td>
    </tr>
  </tbody>
</table>


<div class="overview hidden">
  <h3> Overview for <%= @group.name %> </h3>
  <div style="float: left; width: 30%;">
    <p class="overview-header"> 
      &nbsp;
    </p>
    <ul>
      <li> 
        Total Products: <%= @products.length if @products %> 
      </li>
      <li> 
        Employee Headcount: <%= @existing_employees.length  if @existing_employees %> 
      </li>
    </ul>
  </div>
  
  <div style="float: left; width: 66%;">
    <%= form_tag change_year_logins_path, :method => "get" do %>
      <p class="overview-header"> 
        Numbers for Fiscal Year <%= select_tag(:year, 
          options_from_collection_for_select(@all_years, :year, :year,
         {:selected => @year.year}), :class => "tiny-select") %> 
         <%= submit_tag "(change)", :class => "tiny-submit" %>
       </p>
    <% end %>
    
    <ul class="alternating-ul">
      <li> 
        Total Services: <%= @services.length if @services %> 
      </li>
      <li> 
        Total Product Allocation: <%= @group.get_total_product_allocation(@year) %>
      </li>
      <li> 
        Full-Time Equivalents: <%= @group.get_total_service_allocation(@year) %> 
      </li>
    </ul>
  </div>
</div>

<fieldset class="light-border hidden">
  <legend> Overview for <%= @group.name %> </legend>
  <p class="floaty"> 
    Total Products: <%= @products.length if @products %> 
  </p>
  <p class="floaty"> 
    Employee Headcount: <%= @existing_employees.length  if @existing_employees %> 
  </p>
  <p class="floaty"> 
    * Total Services: <%= @services.length if @services %> 
  </p>
  <p class="floaty"> 
    * Total Product Allocation: <%= @group.get_total_product_allocation(@year) %>
  </p>
  <p class="floaty"> 
    * Full-Time Equivalents: <%= @group.get_total_service_allocation(@year) %> 
  </p>
  <%= form_tag change_year_logins_path, :method => "get" do %>
    <p class="floaty footer-note"> 
      * Numbers for Fiscal Year <%= select_tag(:year, 
        options_from_collection_for_select(@all_years, :year, :year,
       {:selected => @year.year}), :class => "tiny-select") %> 
       <%= submit_tag "(change)", :class => "tiny-submit" %>
    </p>
  <% end %>
</fieldset>



<ul class="nav nav-tabs" id="my-tab" style="clear:both;">
  <li class="active">
    <a href="#products" id="products_tab" data-toggle="tab" > 
      Related Products
    </a>
  </li>
  <li>
     <a href="#employees" id="employees_tab" data-toggle="tab" > 
       Employees
     </a>
   </li>
  <li>
    <a href="#services" id="services_tab" data-toggle="tab"> 
      Related Services
    </a>
  </li>
</ul>



<div class="tab-content">
    
    
  <div class="tab-pane" id="services">
    <div class="tabbable tabs-right">
      <%= render  :partial => "/shared/all_year_select", 
                  :locals => {:@year => @year, :@all_years => @all_years } %>
      
      <div class="tab-content year-content">
        <% unless @services.blank? %>
          <table class="table table-striped">
            <thead>
              <tr>
                <th><%= t(:service) %></th>
              </tr>
            </thead>
            <tbody>
              <% @services.each do |service| %>
                <tr>
                  <td> 
                    <%= link_to service.name, service_path(service.id) %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div class="pagination_footer">
            <%= will_paginate @services, :param_name => :services_page %>
            <%= render :partial => "/shared/results_per_page" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>


  <div class="tab-pane" id="employees">
    <% unless @existing_employees.blank? %>
      <table class="table table-striped"> 
        <thead>
          <tr>
            <th>
              Employee
            </th>
          </tr>
        </thead>
        <tbody>
          <% @existing_employees.each do |employee| %>
            <tr>
              <td>
                <%= link_to employee.full_name, employee_path(employee.id) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="pagination_footer">
        <%= will_paginate @existing_employees, :param_name => :employees_page %>
        <%= render :partial => "/shared/results_per_page" %>
      </div>
    <% end %>
  </div>


  <div class="tab-pane active" id="products">
    <% unless @products.blank? %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th> <%= t(:product) %> </th>
            <th> <%= t(:product_state) %> </th>
            <th> <%= t(:product_type) %> </th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
            <tr>
              <td> 
                <%= link_to product.name, product_path(product.id) %>
              </td>
              <td > 
                <%= product.state %>
              </td>
              <td > 
                <%= product.type %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="pagination_footer">
        <%= will_paginate @products, :param_name => :products_page %>
        <%= render :partial => "/shared/results_per_page" %>
      </div>
    <% end %>
  </div>
  
</div>


<script type="text/javascript">
  var do_not_check_for_changes = true;
</script>
