<% if employee.get_total_allocation > 0 %> 
  <div class="tooltip_trigger">
    <% if can? :update, employee %>
      <%= link_to employee.get_total_allocation.to_s + " FTE", edit_employee_path(employee.id) %> 
    <% else %>
      <%= employee.get_total_allocation %> FTE
    <% end %>
    <img src="../assets/information.png" />
  </div>
  <div class="tooltip" hidden>
    <table>
      <thead>
        <tr>
          <th> <%= t(:service) %> </th>
          <th> <%= t(:allocation) %> </th>
        </tr>
      </thead>
      <tbody>
        <% employee.services.order(:name).each do |service| %>
          <tr class="<%= cycle('tooltip_odd', 'tooltip_even', :name => employee.full_name) %>">
            <td> <%= service.name.truncate(20) %> </td>
            <td> <%=service.get_employee_allocation(employee).rounded_allocation %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>