<% @allocations = employee.employee_allocations.where(:fiscal_year_id =>
    @year.id).joins(:service).order("services.name").includes(:service) %>
<% unless @allocations.blank? %> 
  <div class="tooltip_trigger">
    <%= employee.get_total_service_allocation(@year, @allocation_precision).to_s + " " + t(:fte) %>
  </div>
  <div class="tooltip">
    <table class="table tooltip-table">
      <thead>
        <tr>
          <th> <%= t(:service) %> </th>
          <th> <%= t(:allocation) %> </th>
        </tr>
      </thead>
      <tbody>
        <% @allocations.each do |service_allocation| %>
          <tr>
            <td> 
              <%= service_allocation.name %> 
            </td>
            <td>
              <%= service_allocation.rounded_allocation(@allocation_precision) %> 
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>