<% @allocations = employee.employee_allocations.where(:fiscal_year_id =>
    @current_fiscal_year.id).joins(:service).order("services.name").includes(:service) %>
<% unless @allocations.blank? %> 
  <div class="tooltip_trigger">
    <%= employee.get_total_service_allocation(@current_fiscal_year).to_s + " " + t(:fte) %>
  </div>
  <div class="tooltip">
    <table class="tooltip-table">
      <thead>
        <tr>
          <th class="tooltip_first_column"> <%= t(:service) %> </th>
          <th class="tooltip_last_column"> <%= t(:allocation) %> </th>
        </tr>
      </thead>
      <tbody>
        <% @allocations.each do |service_allocation| %>
          <tr>
            <td style="<%=max_width_by_string(service_allocation.name)%>"
              class="tooltip_first_column"> 
              <%= service_allocation.name %> 
            </td>
            <td class="tooltip_last_column">
              <%= service_allocation.rounded_allocation %> 
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>