<div class="modal hide fade" id="fte_calculator">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4> <%= t(:fte_calculator) %> </h4>
  </div>
  <div class="modal-body form-inline">
    <%= label_tag :hours_per_week, t(:hours_per_week) %>
    <%= text_field_tag 'hours_per_week', nil, 
        :placeholder => t(:maximum_is) + "#{@fte_hours_per_week.round(3)}" %>
    <br/>
    <%= label_tag :hours_per_month, t(:hours_per_month) %>
    <%= text_field_tag 'hours_per_month', nil, 
        :placeholder => t(:maximum_is) + "#{(365 / 7 * @fte_hours_per_week / 12).round(3)}" %>
    <br/>
    <%= label_tag :result, t(:result) %>
    <div id="allocation_result_container">
      <%= t(:none) %>
    </div>
  </div>
  <div class="modal-footer">
    <a class="btn" data-dismiss="modal" aria-hidden="true"> <%= t(:cancel) %> </a>
    <a class="btn btn-success use_this_number" aria-hidden="true"> 
      <%= t(:use) + t(:result) %> 
    </a>
  </div>
</div>


<script type="text/javascript">
  var fteHoursPerWeek =     <%= @fte_hours_per_week %>;
  var allocationPrecision = <%= @allocation_precision %>;
  var fte =                "<%= t(:fte) %>";
  var over_allocated =     "<%= t(:over_allocated_calc) %>";
  var incorrect_time =     "<%= t(:none) %>";
  var canSubmit = false;
  var on = "btn btn-success";
  var off = "btn btn-success disabled";
</script>