<div id="fte_calculator">
  <div class="form-inline">
    <%= label_tag :hours_per_week, "Hours per week:" %>
    <%= number_field_tag 'hours_per_week', nil, 
        :placeholder => "Maximum is #{@fte_hours_per_week.round(3)}" %>
  </div>
  <div id="or_div"> or </div>
  <div class="form-inline">
    <%= label_tag :hours_per_month, "Hours per month:" %>
    <%= number_field_tag 'hours_per_month', nil, 
      :placeholder => "Maximum is #{(365 / 7 * @fte_hours_per_week / 12).round(3)}" %>
  </div>
  <div id="allocation_result_container">
    Your allocation is 0 FTE
  </div>
  <div id="use_this_number"> </div>
</div>

<script type="text/javascript">
  var fteHoursPerWeek = <%= @fte_hours_per_week %>;
  var allocationPrecision = <%= @allocation_precision %>;
</script>