<% html_title "#{is_board ? "Scrum Board" : "Sprint Backlogs"} - #{@project.name if @project}" %>
<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'bootstrap.min.css', :plugin => 'scrum2b' %>
  <%= stylesheet_link_tag 'jquery-ui-slider', :plugin => 'scrum2b' %>
  <%= stylesheet_link_tag 'version', :plugin => 'scrum2b' %>
  <%# javascript_include_tag 'jquery-1.9.1.js', :plugin => 'scrum2b' %>
  <%= javascript_include_tag 'bootstrap.min.js', :plugin => 'scrum2b' %>
  <%# javascript_include_tag 'jquery-ui-1.10.3.custom.min.js', :plugin => 'scrum2b' %>
<% end %>


<div class="container-fluid">
  <p class="issues">
    <%= is_board ? l(:label_scrum2b_board) : l(:label_scrum2b_list) %>
  </p>
  <% if is_board %>
    <%= button_to l(:label_scrum2b_list), {:controller => "s2b_lists", :action => "index", :project_id =>  params[:project_id], :switch_screens => 1},
                    :class => "btn btn_submit_board btn-primary"%>
  <% else %> 
    <%= button_to l(:label_scrum2b_board), {:controller => "s2b_boards", :action => "index", :project_id =>  params[:project_id], :switch_screens => 1},
                    :class => "btn btn_submit_board btn-primary" %>
  <% end %>
</div>



<%= render :partial => "/shared/filter_list" %>


