<div class="form-inline light-border" id="modal_content">
  <%= form_tag( "add_admin", :method => "post") do %>
    <%= label_tag :employee_id, t(:name) %>
    <%= collection_select(:employee, :id, @not_admins, :id, :full_name,
                         {:include_blank => "-" + t(:select) + t(:employee) + "-"},
                         {:class => "autocomplete large-select"}) %>
    <%= submit_tag  t(:add), :confirm => t(:confirm_admin) %>
  <% end %>
</div>
<script type="text/javascript">
  var modalTitle = "<%= t(:new) + " " + t(:site_admin) %>";
</script>