<%= render :partial => "/shared/app_settings_tabs" %>



<h3>
  <%= t(:existing_administrators) %>
  <%= render :partial => "/app_settings/new_site_admin" unless @not_admins.empty?%>
</h3>



<% if @admins.blank? %>
  <p>
    <%= t(:nothing_to_display) %>
  </p>
<% else %>
  <table class="table table-striped">
    <thead>
      <th> <%= t(:name) %> </th>
    </thead>
    <tbody>
      <% @admins.each do |admin| %>
        <tr>
          <td> <%= admin.full_name %> </td>
          <td>
            <% if admin != @current_user %>
              <%= link_to t(:remove), remove_admin_app_settings_path + "?employee=#{admin.id}", 
                  :method => :post, :confirm => t(:confirm_removal), 
                  :class => "btn btn-danger btn-small" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>