<h2> <%= t(:site_admins) %> </h2>


<%= render :partial => "/shared/app_settings_tabs" %>


<% unless @not_admins.empty? %>
  <div class="form-inline">
    <fieldset class="light-border">
      <legend><%= t(:add) + t(:admin) %></legend>
      <%= form_tag( "add_admin", :method => "post") do %>
        <%= label_tag :employee_id, t(:name) %>
        <%= collection_select(:employee, :id, @not_admins, :id, :full_name,
                             {:include_blank => "-" + t(:select) + t(:employee) + "-"},
                             {:class => "autocomplete large-select"}) %>
        <%= submit_tag  t(:add), :confirm => t(:confirm_admin) %>
      <% end %>
    </fieldset>
  </div>
<% end %>


<table class="table table-striped">
  <caption> <%= t(:existing_administrators) %> </caption>
  <thead>
    <th> <%= t(:name) %> </th>
  </thead>
  <tbody>
    <% @admins.each do |admin| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td> <%= admin.full_name %> </td>
        <td>
          <% if admin != @current_user %>
            <%= form_tag("remove_admin", :method => "post", :class => "prevent_double_submit") do %>
              <%= hidden_field_tag(:employee, admin.id) %>
              <%= submit_tag  t(:remove), :confirm => t(:confirm_removal) %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>