<h2> Site Admins </h2>


<h3>Add Admin</h3>
<div id="my-form">
	<%= form_tag("add_admin", :method => "post") do %>
		<p>
			<%= label_tag :name %>
			<%= collection_select(:employee, :id, Employee.where(:site_admin => nil).order(:name_last), :id, :full_name) %>
			<%= submit_tag  "Add Admin" %>
		</p>
	<% end %>
</div>


<table class="list issues">
	<caption> Existing Administrators </caption>
	<thead>
		<th> Name </th>
		<th> </th>
	</thead>
	<tbody>
		<% @admins.each do |admin| %>
			<tr>
				<td> <%= admin.full_name %> </td>
			</tr>
		<% end %>
	</tbody>
</table>