<h2> <%= t(:site_admins) %> </h2>


<% unless @not_admins.empty? %>
  <h3> <%= t(:add) + t(:admin) %> </h3>
  <div class="my-form">
    <%= form_tag( "add_admin", :method => "post", :class => "prevent_double_submit") do %>
      <p>
        <%= label_tag :employee_id, t(:name) %>
        <%= collection_select(:employee, :id, @not_admins, :id, :full_name) %>
        <%= submit_tag  t(:add), :confirm => t(:confirm_admin) %>
      </p>
    <% end %>
  </div>
<% end %>


<table class="list issues">
  <caption> <%= t(:existing_administrators) %> </caption>
  <thead>
    <th> <%= t(:name) %> </th>
  </thead>
  <tbody>
    <% @admins.each do |admin| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td> <%= admin.full_name %> </td>
        <td>
          <% if admin != @current_user %>
            <%= form_tag("remove_admin", :method => "post", :class => "prevent_double_submit") do %>
              <%= hidden_field_tag(:employee, admin.id) %>
              <%= submit_tag  t(:remove), :confirm => t(:confirm_removal) %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>