<%= render :partial => "/shared/app_settings_tabs" %>



<h3>
  <%= t(:existing_administrators) %>
  <%= render :partial => "/app_settings/new_site_admin" unless @not_admins.empty?%>
</h3>



<% if @admins.blank? %>
  <p>
    <%= t(:nothing_to_display) %>
  </p>
<% else %>
  <table class="table table-striped">
    <thead>
      <th> <%= t(:name) %> </th>
    </thead>
    <tbody>
      <% @admins.each do |admin| %>
        <tr>
          <td> <%= admin.full_name %> </td>
          <td>
            <% if admin != @current_user %>
              <%= form_tag("remove_admin", :method => "post", :class => "prevent_double_submit") do %>
                <%= hidden_field_tag(:employee, admin.id) %>
                <%= submit_tag  t(:remove), :confirm => t(:confirm_removal), :class => "btn btn-danger btn-small" %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>