<h2> <%= t(:application_settings) %> </h2>

<ul>
  <li> <%= link_to t(:manage) + t(:site_admins), app_settings_admins_path %> </li>
  <li> <%= link_to t(:manage) + t(:product_states), product_states_app_settings_path %> </li>
  <li> <%= link_to t(:manage) + t(:product_types), product_types_app_settings_path %> </li>
</ul>


<%= form_tag( update_settings_app_settings_path, :method => "POST", :class => "light-border form-horizontal") do %>
  <div class="control-group">
    <span class="control-label">
      <%= label_tag t(:allocation_precision) %>
    </span>
    <span class="controls">
      <%= select(:app_setting, :allocation_precision, [[0.1, 1], [0.01, 2], [0.001, 3]],
                {:selected => @allocation_precision} ) %>
      <span class="tooltip_trigger information"> &nbsp; </span>
    </span>
    <span class="tooltip">
      <p class="tooltip_paragraph"> 
        <%= t(:allocation_precision_info) %> 
      </p>
    </span>
  </div>
  <div class="control-group">
    <span class="control-label">
      <%= label_tag :fte_hours_per_week, t(:fte_hours_per_week) %>
    </span>
    <span class="controls">
      <%= number_field_tag "app_setting[fte_hours_per_week]", @fte_hours_per_week, 
                          {:class => "small"} %>
      <span class="tooltip_trigger information"> &nbsp; </span>
    </span>
    <span class="tooltip">
      <p class="tooltip_paragraph"> 
        <%= t(:fte_hours_per_week_info) %> 
      </p>
    </span>
  </div>
  <div class="control-group">
    <div class="control-label">
      <%= submit_tag  t(:save_changes) %>
    </div>
  </div>
<% end %>