<%= render :partial => "/shared/app_settings_tabs" %>


<%= form_tag( update_settings_app_settings_path, :method => "POST", :class => "form-horizontal light-border") do %>
  <div class="control-group">
    <span class="control-label">
      <%= label_tag :app_setting_allocation_precision, t(:allocation_precision) %>
    </span>
    <span class="controls">
      <%= select(:app_setting, :allocation_precision, [[0.1, 1], [0.01, 2], [0.001, 3]],
                {:selected => @allocation_precision} ) %>
      <span class="tooltip_trigger information"> &nbsp; </span>
    </span>
    <span class="tooltip">
      <%= t(:allocation_precision_info) %> 
    </span>
  </div>
  
  
  
  <div class="control-group">
    <span class="control-label">
      <%= label_tag :app_setting_current_fiscal_year, t(:current_fiscal_year) %>
    </span>
    <span class="controls">
      <%= collection_select(:app_setting, :current_fiscal_year, @fiscal_years, :year, :year,  
                           {:selected => @current_fiscal_year.year}) %>
      <span class="tooltip_trigger information"> &nbsp; </span>
    </span>
    <span class="tooltip">
      <%= t(:fiscal_year_info) %> 
    </span>
  </div>
  
  
  
  <div class="control-group">
    <span class="control-label">
      <%= label_tag :app_setting_fte_hours_per_week, t(:fte_hours_per_week) %>
    </span>
    <span class="controls">
      <%= text_field_tag "app_setting[fte_hours_per_week]", @fte_hours_per_week %>
      <span class="tooltip_trigger information"> &nbsp; </span>
    </span>
    <span class="tooltip">
      <%= t(:fte_hours_per_week_info) %> 
    </span>
  </div>
  
  
  
  <div class="control-group">
    <span class="control-label">
      <%= label_tag :app_setting_logo, t(:logo) %>
    </span>
    <span class="controls">
      <%= text_field_tag "app_setting[logo]", @logo %>
      <span class="tooltip_trigger information"> &nbsp; </span>
    </span>
    <span class="tooltip">
      <%= t(:logo_info) %> 
    </span>
  </div>
  
  
  
  <div class="control-group">
    <span class="control-label">
      <%= label_tag :app_setting_open_login, t(:open_login) %>
    </span>
    <span class="controls">
      <%= select(:app_setting, :open_login, [[t(:enabled), true], [t(:disabled), false]],
                {:selected => @open_login} ) %>
      <span class="tooltip_trigger information"> &nbsp; </span>
    </span>
    <span class="tooltip">
      <%= t(:open_login_info) %> 
    </span>
  </div>
  
  
  
  <div class="control-group">
    <span class="control-label">
      <%= label_tag :app_setting_rest_api_key, t(:rest_api_key) %>
    </span>
    <span class="controls">
      <%= text_field_tag "app_setting[rest_api_key]", @rest_api_key %>
      <span class="tooltip_trigger information"> &nbsp; </span>
    </span>
    <span class="tooltip">
      <%= t(:rest_api_key_info) %> 
    </span>
  </div>
  
  
  
  <div class="control-group">
    <div class="control-label">
      <%= submit_tag  t(:save_changes) %>
    </div>
  </div>
<% end %>