<table class="list issues">
  <thead>
    <th> <%= t(:name) %> </th>
    <th> <%= t(:groups) %> </th>
    <th> <%= t(:total_allocation) %> </th>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td> 
          <%= render  :partial => "/shared/can_update_employee", 
                      :locals => {:@employee => employee} %>  
        </td>
        <td>  
          <% employee.groups.order(:name).each do |group| %>
              <% if group != employee.groups.order(:name).last %>
                <%= link_to group.name + ", ", roster_group_path(group.id) %>
              <% else %>
                <%= link_to group.name, roster_group_path(group.id) %>
              <% end %>
          <% end %>
        </td>
        <td>
          <%= render  :partial => "/shared/employee_services_and_allocations", 
                      :locals => {:employee => employee} %>
        </td>
      </tr> 
    <% end %>
  </tbody>
</table>