<br/><br/>
<table class="list issues">
  <caption> <%= t(:matching_employees) %></caption>
  <thead>
    <th> <%= t(:name) %> </th>
    <th> <%= t(:groups) %> </th>
    <th> <%= t(:services) %> </th>
    <th> <%= t(:allocations) %> </th>
    <th>  </th>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td> 
          <%= render  :partial => "/shared/can_update_employee.html.erb", 
                      :locals => {:@employee => employee} %>  
        </td>
        <td>  
          <% employee.groups.order(:name).each do |group| %>
              <% if group != employee.groups.order(:name).last %>
                <%= link_to group.name + ", ", roster_group_path(group.id) %>
              <% else %>
                <%= link_to group.name, roster_group_path(group.id) %>
              <% end %>
          <% end %>
        </td>
        <td>
          <% employee.services.order(:name).each do |service| %>
            <%= render  :partial => "/shared/can_update_service.html.erb", 
                        :locals => {:employee_allocation =>
                                  employee.employee_allocations.find_by_service_id(service.id)} %>
            <br/>
          <% end %>
        </td>
        <td>
          <% employee.services.order(:name).each do |service| %>
            <%= employee.employee_allocations.find_by_service_id(service.id).rounded_allocation %> 
            <br/>
          <% end %>
        </td>
        <td> 
          <% if can? :destroy, employee %>
            <%= link_to t(:delete), employee_path(employee.id), :method => :delete, 
                        :confirm => t(:confirm_deletion) %> 
          <% end %>
        </td>
      </tr> 
    <% end %>
  </tbody>
</table>