<h2> Home </h2>


<h3> <%= t(:browse_group_and_service_data) %> </h3>
<div class="my-form">
  <%= form_tag("home_search", :method => "get") do %>
    <span id="group_dropdown">
      <span id="group_select_div">
        <%= label_tag :group_id, t(:group_name), :class => "inline" %>
        <%= collection_select(:group, :id, @groups, :id, :name, 
                             {:include_blank => t(:all_groups) }) %>
      </span>
    </span>
    &nbsp &nbsp
    <span id="service_dropdown">
      <span id="service_select_div">
        <%= label_tag :service_id, t(:service_name), :class => "inline" %>
        <%= collection_select(:service, :id, @services, :id, :name,  
                             {:include_blank => t(:all_services) }) %>
      </span>
    </span>
    &nbsp &nbsp
    <%= submit_tag "Search" %> 
    &nbsp &nbsp
    <%= submit_tag "Clear Form", :id => "clear", :type => :button %>
  <% end %>
</div>

<div class="chart_div_container">
  <div id="chart_div_1" class="chart_div"></div>
  <div id="chart_div_2" class="chart_div"></div>
</div>



<% if @data_to_graph != "none" %>
  <div class="chart_footer">
    <% if @service %>
      <p class="footer_entry">
        Service: &nbsp <%= @service.name %>
      </p>
    <% end %>
    <% if @group %>
      <p class="footer_entry">
        Group: &nbsp <%= @group.name %>
      </p>
    <% end %>
    <p class="footer_entry">
      Full Time Employees: &nbsp <%= @full_time_employees %>
    </p> 
    <p class="footer_entry">
      Employee Headcount: &nbsp <%= @employee_headcount %> 
    </p>
    <p class="footer_entry">
      <br/><br/>
      <button id="toggle-employees">Show each employee </button>
    </p> 
  </div>
  
<% end %>



<div id="employee_results" hidden>
  <% if @employees %>
    <%= render  :partial => "/pages/employee_results.html.erb",
                :locals => {:@employees => @employees} %>
  <% end %>
</div>


<script type="text/javascript">
  var servicesPathname = "<%= services_groups_path %>";
  var groupsPathname = "<%= groups_services_path %>";
  if("<%= @data_to_graph %>" != "none") {
    var dataToGraph = <%= raw @data_to_graph %>;
    var graphTitle = "<%= @graph_title %>";
    var xAxisTitle = "<%= @x_axis_title %>";
  }
</script>