<h2> Home </h2>


<h3> <%= t(:browse_group_and_service_data) %> </h3>
<div class="my-form">
  <%= form_tag("home_search", :method => "get") do %>
    <span id="group_dropdown">
      <span id="group_select_div">
        <%= label_tag :group_id, t(:group_name), :class => "inline" %>
        <%= collection_select(:group, :id, @groups, :id, :name, 
                             {:include_blank => t(:all_groups) }) %>
      </span>
    </span>
    &nbsp &nbsp
    <span id="service_dropdown">
      <span id="service_select_div">
        <%= label_tag :service_id, t(:service_name), :class => "inline" %>
        <%= collection_select(:service, :id, @services, :id, :name,  
                             {:include_blank => t(:all_services) }) %>
      </span>
    </span>
    &nbsp &nbsp
    <%= submit_tag "Search" %> 
    &nbsp &nbsp
    <%= submit_tag "Clear Form", :id => "clear", :type => :button %>
  <% end %>
</div>

<div class="chart_div_container">
  <div id="chart_div_1" class="chart_div"></div>
  <div id="chart_div_2" class="chart_div"></div>
</div>



<% if @data_to_graph != "none" %>
  <div class="chart_footer">
  
  <!--<button id="toggle"> Toggle Graph Type </button>-->
  
  <table class="list issues">
    <tbody>
      <tr>
        <td> 
          <% if @group && @service %>
            <%= "Group: " + @group.name %> 
            <br/> 
            <%= "Service: " + @service.name %>
          <% elsif @service %>
            <%= "Service: " + @service.name %>
          <% else %>
            <%= "Group: " + @group.name %>
          <% end %>
        </td>
        <td> Full Time Employees: <%= @full_time_employees %> </td>
        <td> Employee Headcount: <%= @employee_headcount %> </td>
        <td> <button id="toggle-employees">Show each employee </button> </td>
      </tr>
    </tbody>
  </table>
  </div>
  
<% end %>



<div id="employee_results" hidden>
  <% if @employees %>
    <%= render  :partial => "/pages/employee_results.html.erb",
                :locals => {:@employees => @employees} %>
  <% end %>
</div>


<script type="text/javascript">
  var servicesPathname = "<%= services_groups_path %>";
  var groupsPathname = "<%= groups_services_path %>";
  if("<%= @data_to_graph %>" != "none") {
    var dataToGraph = <%= raw @data_to_graph %>;
    var graphTitle = "<%= @graph_title %>";
    var xAxisTitle = "<%= @x_axis_title %>";
  }
</script>