<h2> Home </h2>


<div class="my-form" id="home_header">
  <%= form_tag("home_search", :method => "get") do %>
    <span id="group_dropdown">
      <span id="group_select_div">
        <%= label_tag :group_id, t(:group_name), :class => "inline" %>
        <%= collection_select(:group, :id, @groups, :id, :name, 
                             {:include_blank => t(:all_groups) }) %>
      </span>
    </span>
    <span id="service_dropdown">
      <span id="service_select_div">
        <%= label_tag :service_id, t(:service_name), :class => "inline" %>
        <%= collection_select(:service, :id, @services, :id, :name,  
                             {:include_blank => t(:all_services) }) %>
      </span>
    </span>
    <span id="home_header_buttons">
      <%= submit_tag "View", :id => "search" %> 
      <%= submit_tag "Reset", :id => "clear", :type => :button %>
    </span>
  <% end %>
</div>


<div id="no_filters" class="error" hidden>
    Error: You must select a group and/or service to view data. 
</div>


<% if @data_to_graph && @full_time_employees > 0 %>
<div class="chart_div_container">
  <p id="chart_title"> <%= @graph_title %> </p>
  <div id="bar_graph_div" class="chart_div"></div>
  <div id="pie_chart_div" class="chart_div"></div>
</div>
<% else %>
  <br/> <br/>
  <p class="error"> 
    The group you are viewing has employees, but none of them have entered their service allocations. You can fix this by following these steps. 
    <br/> <br/>
    1: Click on your name if you are an employee, or anyone's name if you are a group administrator.
    <br/>
    2: Add a service and corresponding allocation under the "SERVICES" page section
    <br/>
    3: The next time you visit the home page, there will be nice graphs waiting for you!
  </p>
  <% if @employees %>
    <%= render  :partial => "/pages/employee_results.html.erb",
                :locals => {:@employees => @employees} %>
  <% end %>
<% end %>


<% if @data_to_graph && @full_time_employees > 0 %>
  <div class="my-form" id="chart_footer">
    <% if @group %>
      <%= label_tag t(:group) %>
      <%= @group.name %>
      <br/>
    <% end %>
    <% if @service %>
      <%= label_tag t(:service) %>
      <%= @service.name %>
      <br/>
    <% end %>
    <%= label_tag :full_time_employees %>
    <%= @full_time_employees %>
    <br/>
    <%= label_tag :employee_headcount %>
    <a id="toggle-employees"><%= @employee_headcount %> (Click to view) </a>
  </div>
<% end %>



<div id="employee_results" hidden>
  <% if @employees %>
    <%= render  :partial => "/pages/employee_results.html.erb",
                :locals => {:@employees => @employees} %>
  <% end %>
</div>



<script type="text/javascript">
  var servicesPathname = "<%= services_groups_path %>";
  var groupsPathname = "<%= groups_services_path %>";
  <% if @data_to_graph %>
    var dataToGraph = <%= raw @data_to_graph %>;
    var graphTitle = "<%= @graph_title %>";
    var xAxisTitle = "<%= @x_axis_title %>";
  <% end %>
</script>