<%= text_field_tag("new_subject_#{issue.id}", issue.subject, :class => "span12 value_content") %>
<%= text_area_tag("new_description_#{issue.id}", issue.description, 
    :class => "span12 value_content") %>

<div  class="span12">
  <p id="p_priority_<%= issue.id %>">
    <span class="span5">
      <%= l(:label_priority) %> 
    </span>
    <% if @priority_use_default %>
      <%= select_tag("new_priority_#{issue.id}", options_from_collection_for_select(
          @priorities, :id, :name, :selected => issue.priority_id),
          :class => "span7 value_content") %>
    <% else %>
      <%= select_tag("new_priority_custom_value_#{issue.id}", options_for_select(@priorities, 
          :selected => issue.get_custom_value(@priority_custom_field)),
          :class => "span7 value_content", :include_blank => true) %>
    <% end %>
  </p>
  
  <p id="p_assignee_<%= issue.id %>">
    <span class="span5">
      <%= l(:label_head_issue_assignee) %> 
    </span>
    <%= select_tag("new_assignee_#{issue.id}", options_from_collection_for_select(
        @members, :id, :name, :selected => issue.assigned_to_id), 
        :class => "span7 value_content", :include_blank => true) %>
  </p>
  
  <p id="p_sprint_<%= issue.id %>">
    <span class="span5">
      <%= l(:label_sprint) %> 
    </span>
    <% if @sprint_use_default %>
      <%= select_tag("new_version_#{issue.id}", options_from_collection_for_select(
          @sprints, :id, :name, :selected => issue.fixed_version_id), 
          :class => "span7 value_content", :include_blank => true) %>
    <% else %>
      <%= select_tag("new_sprint_custom_value_#{issue.id}", options_for_select(@sprints, 
          :selected => issue.get_custom_value(@sprint_custom_field)),
          :class => "span7 value_content", :include_blank => true) %>
    <% end %>
  </p>
  
  <p id="p_time_<%= issue.id %>">
    <span class="span5" style="text-align:justify; white-space: nowrap;">
      <%= l(:label_head_issue_est_time) %> 
    </span>
    <%= text_field_tag("new_time_#{issue.id}", issue.estimated_hours, 
        :class => "span7 input-mini value_content") %>
  </p>
  
  <p>
    <span class="span5">
      <%= l(:label_start_date) %>
    </span>
    <%= text_field_tag("new_date_start_#{ issue.id }", issue.start_date || Date.today, 
        :class => "span7 value_content") %>
  </p>
  
  <p>
    <span class="span5" >
      <%= l(:label_due_date) %>
    </span>
    <%= text_field_tag("new_date_end_#{ issue.id }", issue.due_date, 
        :class => "span7 value_content") %>
  </p>
  
</div>



<div class="submit_new_issue span12" value = "<%= issue.id %>">
  <button type="button" class="submit_issue btn-mini btn-primary">
    <%= l(:label_board_edit_btn_submit) %>
  </button>
  <button type="button" class="cancel_issue btn-mini btn-danger">
    <%= l(:label_board_edit_btn_cancel) %>
  </button>
</div>

