<div class="no_edit issue_show" id="show_issue_<%= issue.id %>" value="<%= issue.id %>">
  <div value="<%= issue.id %>">
    <div class="float_left">    
      <%= link_to "##{issue.id}", issue_path(issue.id) %>
    </div>
    
    <% if @has_permission %>
      <div class="icon_edit_issue float_right">
        <i class="icon-edit" title="<%= l(:label_board_issue_text_edit_issue) %>" alt="edit_issue"></i>
      </div>  
    <% end %>
    &nbsp;
  </div>
  
  
  <div class="no_edit subject_issue center" id="subject_<%= issue.id %>">
    <%= issue.subject.truncate(40, :separator => ' ') %>
  </div>
  
  
  <div class="clearfix">
    <div class="float_left">
      <% unless @project %>
        <div id="project_<%= issue.id %>">
          <i class="icon-arrow-right"></i>
          <%= link_to issue.project.name, project_path(issue.project_id) %>
        </div>
      <% end %>
      
      <% if issue.assigned_to %>
        <div id="assignee_<%= issue.id %>">
          <i class="icon-user"></i>
          <%= link_to issue.assigned_to.name, user_path(issue.assigned_to.id) %>
        </div>
      <% end %>
    </div>
    
    
    <div id="date_<%= issue.id %>" class="float_right dates">
      <% unless issue.start_date.blank? %>
        <div id="start_date_<%= issue.id %>">
          <%= l(:field_start_date) %>: 
          <%= format_date(issue.start_date) %>
        </div>
      <% end %>
      
      <% if issue.due_date %>
        <div id="end_date_<%= issue.id %>">
          <%= l(:field_due_date) %>: 
          <%= format_date(issue.due_date) %>
        </div>
      <% else %>
        <% if issue.fixed_version && issue.fixed_version.effective_date != nil %>
          <div id="end_date_<%= issue.id %>">
            <%= l(:field_due_date) %>: 
            <%= format_date(issue.fixed_version.effective_date) %>(v)
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  
  
  <% unless issue.description.blank? %>
    <div class="description">
      <% if issue.description.to_s.length >= 100 %>
        <div class="div_description description_hide" id="description_hide_<%= issue.id %>">
          <%= simple_format(h(issue.description.truncate(100, 
              :separator => ' '))) %>
        </div>
        <div class="div_description description_readmore hidden" 
            id="description_readmore_<%= issue.id %>">
          <%= simple_format(h(issue.description)) %>
        </div>
        <a href="#" id="hide_<%= issue.id %>" class="hide no_edit" value="<%= issue.id %>">
          <%= l(:label_hide) %>
        </a>
        <a href="#" id="readmore_<%= issue.id %>" class="readmore no_edit" value="<%= issue.id %>">
          <%= l(:label_readmore) %>
        </a>
      <% else %>
        <div class="no_edit div_description description_hide" id="description_hide_<%= issue.id %>">
          <%= simple_format(h(issue.description)) %>
        </div>
      <% end %>
    </div>
  <% end %>
  
  
  <% if @show_progress_bars %>
    <% if @has_permission %>
      <div class="slider-horizontal" id="slider<%= issue.id %>" value="<%= issue.done_ratio %>"></div>
    <% else %>
      <div class="progressbar" value="<%= issue.done_ratio %>" id="progress<%= issue.id %>"></div>
    <% end %>
  <% end %>
  
  
  <div class="slider_footer">
    <div class="float_right">
      <% if @has_permission %>
        <p class="percent"> % </p>
        <input type="button" id="amount<%= issue.id %>" class="percent" />
      <% else %>
        <p class="percent">
          <%= issue.done_ratio %> %
        </p>
      <% end %>
    </div>
    
    <p class="float_left">
      <%= l(:label_board_issue_time) %>
      <span id="est_<%= issue.id %>"> 
        <%= issue.estimated_hours %>
      </span>
    </p>
    
    <p class="center">
      <% if @use_version_for_sprint %>
        <%= link_to issue.fixed_version, :controller => 'versions', :action => 'show', 
            :id => issue.fixed_version_id if issue.fixed_version_id %>
      <% else %>
        <%= issue.custom_values.last.value %>
      <% end %>
    </p>
  </div>
</div>
  