<div class="form-inline light-border modal_content_2" id="modal_content_<%=index%>">
  <%= form_for product_state do |form| %>
    <%= form.label :name, t(:name) %>
    <%= form.text_field :name %>
    <%= form.submit  t(:update) + t(:product_state) %>
  <% end %>
</div>
<script type="text/javascript">
  var modalTitle2 = "<%= t(:edit) + t(:product_state) %>";
</script>