<div class="form-inline light-border" id="modal_content">
  <%= form_for new_product_state do |form| %>
    <%= form.label :name, t(:name) %>
    <%= form.text_field :name %>
    <%= form.submit  t(:create) + t(:product_state) %>
  <% end %>
</div>
<script type="text/javascript">
  var modalTitle = "<%= t(:new_product_state) %>";
</script>