<%= render :partial => "/shared/app_settings_tabs" %>


<h3>
  <%= t(:product_states) %>
  <%= render  :partial => "/product_states/new_product_state", 
              :locals => {:new_product_state => @new_product_state} %>
</h3>



<% if @product_states.blank? %>
  <p>
    <%= t(:nothing_to_display) %>
  </p>
<% else %>
  <table class="table table-striped">
    <thead>
      <th> <%= t(:title) %> </th>
      <th> </th>
    </thead>
    <tbody>
      <% @product_states.each_with_index do |product_state, index| %>
        <tr>
          <td> 
            <%= render  :partial => "/product_states/edit_product_state", 
                        :locals => {:product_state => product_state, :index => index } %>
          </td>
          <td> 
            <%= link_to t(:delete), product_state_path(product_state.id), :method => :delete, 
                        :confirm => t(:confirm_deletion), :class => "btn btn-danger btn-small" %>
          </td>
        </tr>  
      <% end %>
    </tbody>
  </table>
<% end %>

