<h2> 
  <%= t(:product_states) %> 
  <%= link_to "#{content_tag :em, '', :class => 'icon-plus'}
               #{t(:new_product_state)}".html_safe, "#", :class => "modal_trigger" %>
</h2>

<ul class="nav nav-tabs" id="my-tab">
  <li>
    <%= link_to t(:app_settings), app_settings_path %>
  </li>
  <li>
    <%= link_to t(:manage) + t(:site_admins), app_settings_admins_path %>
  </li>
  <li class="active">
    <%= link_to t(:manage) + t(:product_states), "#" %>
  </li>
  <li>
    <%= link_to t(:manage) + t(:product_types), product_types_path %>
  </li>
</ul>


<%= render  :partial => "/product_states/new_product_state", 
            :locals => {:@new_product_state => @new_product_state} %>


<% if !@product_states.empty? %>
  <table class="table table-striped">
    <thead>
      <th> <%= t(:title) %> </th>
      <th> </th>
    </thead>
    <tbody>
      <% @count = 0 %>
      <% @product_states.each do |product_state| %>
        <tr>
          <td> 
            <%= link_to "#{content_tag :em, '', :class => ''}
                         #{product_state.name}".html_safe, "#", :class => "modal_trigger_2" %>
            <%= render  :partial => "/product_states/edit_product_state", 
                        :locals => {:@product_state => product_state, :@count => @count} %>
          </td>
          <td> 
            <%= link_to t(:delete), product_state_path(product_state.id), :method => :delete, 
                        :confirm => t(:confirm_deletion) %>
          </td>
        </tr>  
        <% @count += 1 %>
      <% end %>
    </tbody>
  </table>
<% end %>

