<table id="table_issues" class="table" style="border: 1px solid #e4e4e4">
  <thead>
    <tr class="head_issue">
      <th>
        <%= l(:label_sprint) %>
      </th>
      
      <th> 
        # 
      </th>
      
      <th> 
        <% if @priority_use_default %>
          <%= l(:label_head_issue_priority) %> 
        <% elsif !@priority_custom_field.blank? %>
          <%= @priority_custom_field.name %>
        <% end %>        
      </th>
      
      <th> 
        <%= l(:label_head_issue_status) %> 
      </th>
      
      <% unless @sprint_use_default %>
        <th> 
          <%= l(:label_head_issue_project) %> 
        </th>
      <% end %>
      
      <th> 
        <%= l(:label_head_issue_subject) %> 
      </th>
      
      <th> 
        <%= l(:label_head_issue_assignee) %> 
      </th>
      
      <% unless @assignee_use_default %>
        <th> 
          <%= @assignee_custom_field.name %>
        </th>
      <% end %>
      
      <th> 
        <%= l(:label_head_issue_est_time) %> 
      </th>
      
      <% if @show_progress_bars %>
        <th> 
          <%= l(:label_head_issue_done) %> 
        </th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% if @sorted_issues %>
      <%= render :partial => "version", :locals =>{:sorted_issues => @sorted_issues}  %>
    <% end %>
  </tbody>
</table>
