<% @sorted_issues.each_with_index do |issue_group, index| %>
  <% unless issue_group[:issues].blank? %>
    <tr class="version_row" index="<%= index %>">
      <td>
        <%= issue_group[:name] %>
      </td>

      <td>
      </td>

      <td>
      </td>

      <td>
      </td>

      <% unless @sprint_use_default %>
        <td>
        </td>
      <% end %>

      <td>
      </td>

      <td>
      </td>

      <% unless @assignee_use_default || @assignee_custom_field.blank? %>
        <td>
        </td>
      <% end %>

      <td>
        <%= l(:label_total) %>
        <span id="total_hours_<%= index %>"> </span>
      </td>

      <% if @show_progress_bars %>
        <td>
        </td>
      <% end %>
    </tr>
    
    
    
    
    <% issue_group[:issues].each do |issue|%>
      <tr class="issue_row">
        <%= render :partial => "list_issues", :locals => {:issue => issue, :index => index} %>
      </tr>
    <% end %>
  <% end %>
<% end %>


