<%= render  :partial => "/shared/all_year_select", 
            :locals => {:@year => year, :@all_years => all_years } %>
<div class="year-content">
  <% if products.blank? %>
    <%= render  :partial => "/shared/nothing_to_display" %>
  <% else %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th> <%= t(:product) %> </th>
          <th> <%= t(:priority) %> </th>
          <th> <%= t(:product_state) %> </th>
          <th> <%= t(:product_type) %> </th>
          <th> <%= t(:allocation) %> </th>
        </tr>
      </thead>
      <tbody>
        <% products.each_with_index do |product, index| %>
          <tr>
            <td> 
              <%= link_to product.name, product_path(product.id) %>
            </td>
            <td> 
              <%= product.priority %>
            </td>
            <td > 
              <%= product.state %>
            </td>
            <td> 
              <%= product.type %>
            </td>
            <td>
              <%= product.get_total_allocation(year, allocation_precision) %>
            </td>
          </tr>
        <% end %>
        <% if defined? total_allocation %>
          <tr>
            <td> <%= t(:total_allocation) %> </td>
            <td></td>
            <td></td>
            <td></td>
            <td> <%= total_allocation.to_s + t(:fte) %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="pagination_footer">
      <%= will_paginate products, :param_name => :dependents_page %>
      <%= render :partial => "/shared/results_per_page" %>
    </div>
  <% end %>
</div>