<thead>
  <th> <%= t(:name) %> </th>
  <th> <%= t(:description) %> </th>
  <th> Product State </th>
  <th> Product Type </th>
  <th> </th>
</thead>
<tbody>
  <% products.each do |product| %>
    <tr>
      <td>
        <% if product.url && !product.url.blank? %>
          <%= link_to "#{content_tag :em, '', :class => 'icon-globe'}".html_safe, product.url,
                      :target => '_blank' %>
        <% else %>
          <span class="blank-icon"></span>
        <% end %>
        <%= link_to product.name, product_path(product.id) %>
      </td>
      <td>
        <% unless product.description.blank? %>
          <div class="tooltip_trigger">
            <%= product.description.truncate(20) %>
          </div>
          <div class="tooltip tooltip_paragraph"
               style="<%=max_width_by_word(product.description)%>">
            <%= simple_format product.description %>
          </div>
        <% end %>
      </td>
      <td>
        <% if product.product_state %>
          <%= product.product_state.name %>
        <% end %>
      </td>
      <td>
        <% if product.product_type %>
          <%= product.product_type.name %>
        <% end %>
      </td>
      <td>
        <% if can? :destroy, product %>
          <%= link_to t(:delete), product_path(product.id), :method => :delete, :confirm =>
                      t(:confirm_deletion) %>
        <% end %>
      </td>
    </tr>
  <% end %>
</tbody>
