<h2> 
  <%= t(:edit) + t(:product_colon) %> <%= @product.name %>
  <%= link_to "#{content_tag :em, '', :class => ''}
              #{t(:show)}".html_safe, product_path(@product.id) %>
</h2>


<%= form_for @product do |product_form| %>


  <h3> <%= t(:basic_information) %> </h3>
  <div class="form-horizontal">
    <%= fields_for @product do |form| %>
      <div class="control-group">
        <span class="control-label">
          <%= form.label :name, t(:name) %>
        </span>
        <span class="controls">
          <%= form.text_field :name %>
        </span>
      </div>

      <div class="control-group">
        <span class="control-label">
          <%= form.label :description, t(:description) %> 
        </span>
        <span class="controls">
          <%= form.text_area :description, :rows => 4, :cols => 100 %>
        </span>
      </div>

      <div class="control-group">
        <span class="control-label">
          <%= form.label :product_state_id, t(:product_state) %> 
        </span>
        <span class="controls">
          <%= form.select(:product_state_id, options_from_collection_for_select( @product_states, 
                          :id, :name, :selected => @product.product_state_id.to_s),  
                          {:include_blank => "-" + t(:select) + t(:product_state) + "-"}) %> 
        </span>
      </div>

      <div class="control-group">
        <span class="control-label">
          <%= form.label :product_type_id, t(:product_type) %> 
        </span>
        <span class="controls">
          <%= form.select(:product_type_id, options_from_collection_for_select( @product_types, 
                          :id, :name, :selected => @product.product_type_id.to_s),  
                          {:include_blank => "-" + t(:select) + t(:product_type) + "-"}) %> 
        </span>
      </div>

      <div class="control-group">
        <span class="control-label">
          <%= form.label :url, "URL" %>
        </span>
        <span class="controls">
          <%= form.text_field :url %>
          <%= link_to "#{content_tag :em, '', :class => 'icon-globe'}".html_safe, @product.url,
                      :target => '_blank' %>
        </span>
      </div>

      <div class="control-group">
        <span class="control-label">
          <%= form.submit  t(:save_changes) %>
        </span>
      </div>
    <% end %>
  </div>




  <!-- Drop-down list of groups that can be added. Only populated with groups that the product
    doesn't already belong to. -->
  <h3><%= t(:groups) %></h3>
  <% unless @available_groups.blank? %>
    <div class="form-inline" >
      <fieldset class="light-border">
        <legend> <%= t(:add_to) + t(:group) %> </legend>
        <%= fields_for "product_group" do |form|%>
          <%= form.label :group_id, t(:group)  %>
          <%= form.select(:group_id, 
                  options_from_collection_for_select(@available_groups, :id, :name),  
                  {:include_blank => "-" + t(:select) + t(:group) + "-"}) %> 
          <%= form.submit t(:add) %>
        <% end %>
      </fieldset>
    </div>
  <% end %>


  <!-- Table of all groups that the product currently belongs to. --> 
  <% unless @product_groups.blank? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th> <%= t(:group) %> </th>
          <th> <%= t(:check_to_remove) %> </th>
        </tr>
      </thead>
      <tbody>
        <% @product_groups.each do |product_group| %>
          <%= product_form.fields_for "product_groups", product_group do |form|%>
            <tr>
              <td>
                <%= link_to product_group.group.name, group_path(product_group.group_id) %>
              </td>
              <td>
                <%= form.check_box :_destroy %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>




  <!-- Drop-down list of services that can be added. Only populated with services that the product
   doesn't already belong to. -->
  <h3> <%= t(:services) %> </h3>
  <% unless @available_services.blank? %>
    <div class="form-inline" >
      <fieldset class="light-border">
        <legend> <%= t(:add_to) + t(:service) %>  </legend>
        <%= fields_for "product_service" do |form|%>
          <%= form.label :service_id, t(:service)  %>
          <%= form.select(:service_id, options_from_collection_for_select(
                          @available_services, :id, :name),  
                         {:include_blank => "-" + t(:select) + t(:service) + "-"}) %>
          <%= form.submit t(:add) %>
        <% end %>
      </fieldset>
    </div>
  <% end %>


  <!-- Table of all services that the product currently belongs to. Admins are able to make changes
   to the product's services here --> 
  <% unless @product_services.blank? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th> <%= t(:service) %> </th>
          <th> <%= t(:check_to_remove) %> </th>
        </tr>
      </thead>
      <tbody>
        <% @product_services.each do |product_service| %>
          <%= product_form.fields_for "product_services", product_service do |form|%>
            <tr>
              <td>
                <%= link_to product_service.service_name, 
                    service_path(product_service.service_id) %>                
              </td>
              <td>
                <%= form.check_box :_destroy %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>




  <h3> <%= t(:employees) %> </h3>
  <div class="tabbable tabs-right">
    <%= render  :partial => "/shared/active_year_select", 
                :locals => {:@year => @year, :@active_years => @active_years } %>
    
    
    <div class="tab-content year-content">
      <% unless @available_employees.blank? %>
        <div class="form-inline" >
          <fieldset class="light-border">
            <legend> <%= t(:add) + t(:employee) %> </legend>
            <%= fields_for "employee_product" do |form|%>
              <%= form.label :employee_id, t(:employee) %>
              <%= form.select(:employee_id, options_from_collection_for_select(
                              @available_employees, :id, :full_name),  
                             {:include_blank => "-" + t(:select) + t(:employee) + "-"}) %> 
              <%= form.select(:allocation, @possible_allocations,
                             {:include_blank => "-" + t(:optional) + t(:allocation) + "-"},
                              :class => "calculator_select allocation_value") %>
              <%= form.hidden_field(:fiscal_year_id, :value => @year.id) %>
              <%= render  :partial => "/shared/fte_calculator_trigger" %>
              <%= form.submit t(:add) %>
            <% end %>
          </fieldset>
        </div>
      <% end %>
      
      
      <% unless @employee_products.blank? %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th> <%= t(:employee) %> </th>
              <th> <%= t(:allocation) %> </th>
              <th> <%= t(:check_to_remove) %> </th>
            </tr>
          </thead>
          <tbody>
            <% @employee_products.each do |employee_product| %>
              <%= product_form.fields_for "employee_products", employee_product do |form|%>
                <tr>
                  <td> 
                    <%= link_to employee_product.employee.full_name,
                        employee_path(employee_product.employee_id) %>
                  </td>
                  <td class="form-inline"> 
                    <%= form.hidden_field(:employee_id, :value => employee_product.employee_id) %>
                    <%= form.hidden_field :id %>
                    <%= form.select(:allocation, @possible_allocations, 
                                   {:selected => employee_product.rounded_allocation}, 
                                    :class => "calculator_select allocation_value") %>
                    <%= render :partial => "/shared/fte_calculator_trigger" %>
                  </td>
                  <td> 
                    <%= form.check_box :_destroy, :class => "remove_allocation" %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      <% end %>    
    </div>
  </div>
    
    
  <%= product_form.submit  t(:save_changes) %> 
<% end %>




<%= render  :partial => "/shared/fte_calculator_body", 
            :locals => {:@allocation_precision => @allocation_precision,
                        :@fte_hours_per_week => @fte_hours_per_week } %>