<%= render  :partial => "/shared/object_view_header", 
            :locals => {:view => t(:edit_colon), :object => @product} %>


<%= form_for @product do |product_form| %>



  <ul class="nav nav-tabs" id="my-tab">
   <li>
     <a href="#product" id="product_tab" data-toggle="tab" > 
       <%= t(:product) + t(:information) %>
     </a>
   </li>
   <li>
     <a href="#groups" id="groups_tab" data-toggle="tab"> 
       <%= t(:groups) %> 
     </a>
   </li>
   <li>
     <a href="#services" id="services_tab" data-toggle="tab"> 
       <%= t(:services) %> 
     </a>
   </li>
   <li class="active">
     <a href="#allocations" id="allocations_tab" data-toggle="tab"> 
       <%= t(:employee) + t(:allocations) %> 
     </a>
   </li>
  </ul>
  
  
  
  <div class="tab-content">
     
    <div class="tab-pane" id="product">
  
      <h3> <%= t(:product) + t(:information) %> </h3>
      <div class="form-horizontal light-border">
        <%= fields_for @product do |form| %>
          <div class="control-group">
            <span class="control-label">
              <%= form.label :name, t(:name) %>
            </span>
            <span class="controls">
              <%= form.text_field :name %>
            </span>
          </div>
      
          <div class="control-group">
            <span class="control-label">
              <%= form.label :description, t(:description) %> 
            </span>
            <span class="controls">
              <%= form.text_area :description, :rows => 4, :cols => 100 %>
            </span>
          </div>
      
          <div class="control-group">
            <span class="control-label">
              <%= form.label :product_priority_id, t(:product_priority) %> 
            </span>
            <span class="controls">
              <%= form.select(:product_priority_id, 
                              options_from_collection_for_select(@product_priorities, 
                              :id, :name, :selected => @product.product_priority_id.to_s),  
                              {:include_blank =>   t(:select) + t(:product_priority)}, 
                              {:class => "autocomplete large-select"}) %> 
            </span>
          </div>
      
          <div class="control-group">
            <span class="control-label">
              <%= form.label :product_state_id, t(:product_state) %> 
            </span>
            <span class="controls">
              <%= form.select(:product_state_id, options_from_collection_for_select( @product_states, 
                              :id, :name, :selected => @product.product_state_id.to_s),  
                              {:include_blank =>   t(:select) + t(:product_state)}, 
                              {:class => "autocomplete large-select"}) %> 
            </span>
          </div>
      
          <div class="control-group">
            <span class="control-label">
              <%= form.label :product_type_id, t(:product_type) %> 
            </span>
            <span class="controls">
              <%= form.select(:product_type_id, options_from_collection_for_select( @product_types, 
                              :id, :name, :selected => @product.product_type_id.to_s),  
                              {:include_blank =>   t(:select) + t(:product_type)}, 
                              {:class => "autocomplete large-select"}) %> 
            </span>
          </div>
      
          <div class="control-group">
            <span class="control-label">
              <%= form.label :url, "URL" %>
            </span>
            <span class="controls">
              <%= form.text_field :url %>
              <%= link_to "#{content_tag :em, '', :class => 'icon-globe'}".html_safe, @product.url,
                          :target => '_blank' %>
            </span>
          </div>
      
          <div class="control-group">
            <span class="control-label">
              <%= form.submit  t(:save_changes) %>
            </span>
          </div>
        <% end %>
      </div>
    </div>
  
  
  
  
  
    <div class="tab-pane" id="groups">
      
      <h3>
        <%= t(:groups) %>
        <%= render  :partial => "/products/add_group", 
                    :locals => {:available_groups => @available_groups} %>
      </h3>
      
      
      <% if @product_groups.blank? %>
        <p>
          <%= t(:nothing_to_display) %>
        </p>
      <% else %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th> <%= t(:group) %> </th>
              <th> <%= t(:check_to_remove) %> </th>
            </tr>
          </thead>
          <tbody>
            <% @product_groups.each do |product_group| %>
              <%= product_form.fields_for "product_groups", product_group do |form|%>
                <tr>
                  <td>
                    <%= link_to product_group.group.name, group_path(product_group.group_id) %>
                  </td>
                  <td>
                    <%= form.check_box :_destroy %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
        
        <%= product_form.submit  t(:save_changes) %>
        
      <% end %> 
    </div>
      
  
  
  
  
  
    <div class="tab-pane" id="services">
      
       <h3>
         <%= t(:services) %>
         <%= render  :partial => "/products/add_service", 
                     :locals => {:available_services => @available_services} %>
       </h3>
  
  
       <% if @product_services.blank? %>
         <p>
           <%= t(:nothing_to_display) %>
         </p>
       <% else %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th> <%= t(:service) %> </th>
              <th> <%= t(:check_to_remove) %> </th>
            </tr>
          </thead>
          <tbody>
            <% @product_services.each do |product_service| %>
              <%= product_form.fields_for "product_services", product_service do |form|%>
                <tr>
                  <td>
                    <%= link_to product_service.service_name, 
                        service_path(product_service.service_id) %>                
                  </td>
                  <td>
                    <%= form.check_box :_destroy %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
        
        <%= product_form.submit  t(:save_changes) %>
        
      <% end %>
    </div>
  
  
  
  
  
  
  
    <div class="tab-pane active" id="allocations">
    
  
      <h3> 
        <%= t(:employees) %> 
        <%= render  :partial => "/products/add_employee", 
                    :locals => {:available_employees => @available_employees, :year => @year} %>
      </h3>
      <div class="tabbable tabs-right">
        <%= render  :partial => "/shared/active_year_select", 
                    :locals => {:@year => @year, :@active_years => @active_years } %>
        
        
        <div class="tab-content year-content">
          <% if @employee_products.blank? %>
            <p>
              <%= t(:nothing_to_display) %>
            </p>
          <% else %>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th> <%= t(:employee) %> </th>
                  <th> <%= t(:allocation) %> </th>
                  <th> <%= t(:check_to_remove) %> </th>
                </tr>
              </thead>
              <tbody>
                <% @employee_products.each do |employee_product| %>
                  <%= product_form.fields_for "employee_products", employee_product do |form|%>
                    <tr>
                      <td> 
                        <%= link_to employee_product.employee.full_name,
                            employee_path(employee_product.employee_id) %>
                      </td>
                      <td class="form-inline"> 
                        <%= form.hidden_field(:employee_id, :value => employee_product.employee_id) %>
                        <%= form.hidden_field :id %>
                        <%= form.number_field(:allocation, {:placeholder => t(:optional), :class =>
                            "calculator_select allocation_value small"}) %>
                        <%= render :partial => "/shared/fte_calculator_trigger" %>
                      </td>
                      <td> 
                        <%= form.check_box :_destroy, :class => "remove_allocation" %>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
                <tr> 
                  <td>
                    <%= t(:total) + " " + t(:allocation) %>
                  </td>
                  <td id="total-allocation">
                    <%= "#{@product.get_total_allocation(@year, @allocation_precision)} " + t(:fte) %>
                  </td>
                  <td></td>
                </tr>
              </tbody>
            </table>
            
            <%= product_form.submit  t(:save_changes) %>
            
          <% end %>
        </div>
      </div>
    </div>
  </div>
    
<% end %>




<%= render  :partial => "/shared/fte_calculator_body", 
            :locals => {:@allocation_precision => @allocation_precision,
                        :@fte_hours_per_week => @fte_hours_per_week } %>