<div class="view-header">
  <div class="view-header-inner">
    <h2> <%= t(:products) %> </h2>
    <%= render  :partial => "/products/new_product", 
                :locals => {:new_product => @new_product} %>
  </div>
</div>



<fieldset class="light-border">
  <legend> <%= t(:filter_results) %> </legend>
  <%= form_tag(products_path, :method => "get", :class => "form-inline") do %>
    <%= text_field_tag "search[name]", @name, :placeholder => t(:product) + t(:name) %>
    <%= collection_select(:search, :group, @groups, :id, :name, 
                         {:include_blank => t(:all_groups), :selected => @group}, 
                         {:class => "autocomplete large-select"}) %>
    <%= collection_select(:search, :product_priority, @product_priorities, :id, :name, 
                         {:include_blank => t(:all_product_priorities),
                          :selected => @product_priority}, 
                         {:class => "autocomplete large-select"}) %>
    <%= collection_select(:search, :product_state, @product_states, :id, :name, 
                         {:include_blank => t(:all_product_states),
                          :selected => @product_state}, {:class => "autocomplete large-select"}) %>
    <%= collection_select(:search, :product_type, @product_types, :id, :name, 
                         {:include_blank => t(:all_product_types),
                          :selected => @product_type}, {:class => "autocomplete large-select"}) %>
    <%= submit_tag t(:search) %>
  <% end %>
</fieldset>



<table class="table table-striped">
  <caption> <%= t(:all_products) %> </caption>
  <thead>
    <th> <%= sort_column(t(:name), request.fullpath, nil, 'name', @order, @ascending) %> </th>
    <th> <%= t(:description) %> </th>
    <th class='variable-size'> <%= sort_column(t(:priority), request.fullpath, 'product_priority', 'product_priorities.name', @order, @ascending) %> </th>
    <th> <%= sort_column(t(:product_state), request.fullpath, 'product_state', 'product_states.name', @order, @ascending) %> </th>
    <th> <%= sort_column(t(:product_type), request.fullpath, 'product_type', 'product_types.name', @order, @ascending) %> </th>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td>
          <% if product.url && !product.url.blank? %>
            <%= link_to "#{content_tag :em, '', :class => 'icon-globe'}".html_safe, product.url,
                        :target => '_blank' %>
          <% else %>
            <span class="blank-icon"></span>
          <% end %>
          <%= link_to product.name, product_path(product.id) %>
        </td>
        <td>
          <% unless product.description.blank? %>
            <div class="tooltip_trigger">
              <%= product.description.truncate(20) %>
            </div>
            <div class="tooltip tooltip_paragraph"
                 style="<%=max_width_by_word(product.description)%>">
              <%= simple_format product.description %>
            </div>
          <% end %>
        </td>
        <td class='variable-size'>
          <%= product.priority %>
        </td>
        <td>
          <%= product.state %>
        </td>
        <td>
            <%= product.type %>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>



<div class="pagination_footer">
  <%= will_paginate @products, :param_name => :products_page %>
  <%= render :partial => "/shared/results_per_page" %>
</div>



<script type="text/javascript">
  var do_not_check_for_changes = true;
</script>
