<h2> 
  <%= t(:product_colon) %> <%= @product.name %> 
  <% if can? :update, @product %>
    <%= link_to "#{content_tag :em, '', :class => 'icon-edit'}
                #{t(:edit)}".html_safe,
                edit_product_path(@product.id) %>
  <% end %>
</h2> 


<table class="table table-striped overview">
  <caption> <%= t(:overview) %> </caption>
  <thead>
    <tr>
      <th>
        
      </th>
      <th>
        <%= form_tag change_year_logins_path, :method => "get" do %>
          <%= label_tag :year, t(:fiscal_year) %> 
          <%= select_tag(:year, options_from_collection_for_select(@all_years, :year, :year,
              {:selected => @year.year}), :class => "tiny-select") %> 
          <%= submit_tag t(:show) %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div class="overview-label">
          <%= t(:groups) %>
        </div>
        <%= @total_groups %> 
      </td>
      <td>
        <div class="overview-label">
          <%= t(:employees) %>
        </div>
        <%= @total_employees %>
      </td>
    </tr>
    <tr>
      <td>
        <div class="overview-label">
          <%= t(:services) %>
        </div> 
        <%= @total_services %> 
      </td>
      <td>
        <div class="overview-label">
          <%= t(:total_allocation) %>
        </div>
        <%= @total_allocation %> 
      </td>
    </tr>
  </tbody>
</table>


<ul class="nav nav-tabs" id="my-tab">
  <li class="active">
    <a href="#product_information" id="product_information_tab" data-toggle="tab"> 
      <%= t(:product) + t(:information) %>
    </a>
  </li>
  <li>
    <a href="#employees" id="employees_tab" data-toggle="tab" > 
      <%= t(:employees) %>
    </a>
  </li>
  <li>
    <a href="#services" id="services_tab" data-toggle="tab" > 
      <%= t(:services) %>
    </a>
  </li>
</ul>


<div class="tab-content">
  <div class="tab-pane active" id="product_information">
    <div class="form-horizontal">
      <div class="control-group">
        <span class="control-label">
          <%= label_tag :groups %> 
        </span>
        <span class="controls">
          <% unless @product_groups.blank? %>
            <%= @product_groups.collect{|g| link_to g.group.name, 
                  group_path(g.group_id)}.join(", &nbsp;").html_safe %>
          <% end %>
        </span>
      </div>
    
      <div class="control-group">
        <span class="control-label">
          <%= label_tag t(:product_state) %> 
        </span>
        <span class="controls">
          <%= @product.state %> 
        </span>
      </div>
      
      <div class="control-group">
        <span class="control-label">
          <%= label_tag t(:product_type) %> 
        </span>
        <span class="controls">
          <%= @product.type %> 
        </span>
      </div>
      
      <div class="control-group">
        <span class="control-label">
          <%= label_tag :url, "URL" %>
        </span>
        <span class="controls">
          <%= link_to "#{content_tag :em, '', :class => 'icon-globe'}".html_safe, @product.url,
                      :target => '_blank' unless @product.url.blank?%>
          <%= @product.url %>
        </span>
      </div>
      
      <div class="control-group">
        <span class="control-label">
          <%= label_tag :description %> 
        </span>
        <span class="controls">
          <%= simple_format(@product.description) %>
        </span>
      </div>
    </div>
  </div>



  <div class="tab-pane" id="services">
    <% unless @product_services.blank? %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th> <%= t(:service) %> </th>
          </tr>
        </thead>
        <tbody>
          <% @product_services.each do |product_service| %>
            <tr>
              <td> 
                <%= link_to product_service.service_name, 
                    service_path(product_service.service_id) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>



  <div class="tab-pane" id="employees">
    <div class="tabbable tabs-right">
      <%= render  :partial => "/shared/all_year_select", 
                  :locals => {:@year => @year, :@all_years => @all_years } %>
      
      
      <div class="tab-content year-content">
        <% unless @employee_products.blank? %>
          <table class="table table-striped">
            <thead>
              <tr>
                <th> <%= t(:employee) %> </th>
                <th> <%= t(:allocation) %> </th>
              </tr>
            </thead>
            <tbody>
              <% @employee_products.each do |employee_product| %>
                <tr>
                  <td> 
                    <%= link_to employee_product.employee.full_name,
                        employee_path(employee_product.employee_id) %>
                  </td>
                  <td > 
                    <%= employee_product.rounded_allocation %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
  </div>
</div>



