<a data-toggle="modal" data-target="#modal-content-<%= index %>" href="#">
  <%= portfolio_name.name %>
</a>




<div class="modal hide fade" id="modal-content-<%= index %>">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4> <%= "#{t(:edit)} #{t(:portfolio_name)}" %> </h4>
  </div>
  <%= form_for portfolio_name do |form| %>
    <div class="modal-body form-inline">
      <%= form.label :name, t(:name) %>
      <%= form.text_field :name %>
      <br/>
      <%= form.label :global, t(:global) %> 
      <%= form.select(:global, ['true', 'false']) %>
    </div>
    <div class="modal-footer">
      <a class="btn" data-dismiss="modal" aria-hidden="true"> <%= t(:cancel) %> </a>
      <%= form.submit  t(:update), :class => "btn btn-success" %>
    </div>
  <% end %>
</div>