<a data-toggle="modal" data-target="#modal-content-<%= index %>" href="#">
  <%= fiscal_year.year %>
</a>




<div class="modal hide fade" id="modal-content-<%= index %>">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4> <%= "#{t(:edit)} #{t(:fiscal_year)}" %> </h4>
  </div>
  <%= form_for fiscal_year do |form| %>
    <div class="modal-body form-inline">
      <%= form.label :year, t(:year) %>
      <%= form.text_field :year %>
      <br/>
      <%= form.label :active, t(:active) %> 
      <%= form.select(:active, ['true', 'false']) %>
    </div>
    <div class="modal-footer">
      <a class="btn" data-dismiss="modal" aria-hidden="true"> <%= t(:cancel) %> </a>
      <%= form.submit  t(:update), :class => "btn btn-success" %>
    </div>
  <% end %>
</div>