<%= render :partial => "/shared/app_settings_tabs" %>


<h3>
  <%= t(:fiscal_years) %>
  <%= render  :partial => "/fiscal_years/new_fiscal_year", 
              :locals => {:new_fiscal_year => @new_fiscal_year} %>
</h3>



<% if @fiscal_years.blank? %>
  <%= render  :partial => "/shared/nothing_to_display" %>
<% else %>
  <table class="table table-striped">
    <thead>
      <th> <%= t(:year) %> </th>
      <th> <%= t(:active) %> </th>
    </thead>
    <tbody>
      <% @fiscal_years.each_with_index do |fiscal_year, index| %>
        <tr>
          <td> 
            <%= render  :partial => "/fiscal_years/edit_fiscal_year", 
                        :locals => {:fiscal_year => fiscal_year, :index => index } %>
          </td>
          <td>
            <%= fiscal_year.active %>
          </td>
        </tr>  
      <% end %>
    </tbody>
  </table>
<% end %>



