<!DOCTYPE html>
<html>
<head>
  <title><%= t(:IT_service_inventory) %></title>
  <%# stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "https://www.google.com/jsapi" %>
  <script type="text/javascript">
    // Load the Visualization API and the piechart package.
    google.load('visualization', '1.0', {packages:['corechart']});
  </script>
  <%= stylesheet_link_tag "bootstrap" %>
  <!--<meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <%# stylesheet_link_tag "bootstrap-responsive.css" %>
  <%= stylesheet_link_tag "i_love_pie" %>
  <%= stylesheet_link_tag "jquery-ui-1.8.23.custom.css" %>
  <%= stylesheet_link_tag "fte_calculator" %>
  <%= stylesheet_link_tag "chosen" %>
  <!-- The following line will load an additional "theme" stylesheet for the application later on.
       Currently however, there are no themes and thus it is commented out for the time being. -->
  <!-- <%# stylesheet_link_tag @current_theme %> -->
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div id="header">
      <h1> IT Service Inventory </h1>
    </div>
    <div class="navbar-inner">
      <div class="container">
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li> 
              <%= link_to "#{content_tag :i, '', :class => 'icon-home icon-white'}
                           #{t(:home)}".html_safe, pages_home_path, 
                           :class => cp(pages_home_path) %>
            </li>
            <li>
              <%= link_to "#{content_tag :i, '', :class => ''}
                           #{t(:employees)}".html_safe, employees_path, 
                           :class => cp(employees_path) %>
            </li>
            <li>
              <%= link_to "#{content_tag :i, '', :class => ''}
                           #{t(:groups)}".html_safe, groups_path, 
                           :class => cp(groups_path) %>
            </li>
            <% if can? :update, Service %>
              <li>
                <%= link_to "#{content_tag :i, '', :class => ''}
                             #{t(:services)}".html_safe, services_path, 
                             :class => cp(services_path) %>
              </li>
            <% end %>
            <% if can? :create, Product %>
              <li>
                <%= link_to "#{content_tag :i, '', :class => ''}
                             #{t(:products)}".html_safe, products_path, 
                             :class => cp(products_path) %>
              </li>
            <% end %>
            <% if can? :manage, AppSetting %>
              <li> 
                <%= link_to "#{content_tag :i, '', :class => ''}
                             #{t(:settings)}".html_safe, app_settings_path, 
                             :class => cp(app_settings_path) %>
              </li>
            <% end %>
          </ul>
          <ul class="nav" id="login">
            <% if session[:current_user_name] %>
              <li> 
                <%= link_to "#{content_tag :i, '', :class => 'icon-user icon-white'}
                             #{session[:current_user_name]}".html_safe,
                             user_settings_employee_path(@current_user.id),
                             :class => cp(user_settings_employee_path(@current_user.id)) %>
              </li>
              <li> <%= link_to t(:logout), logins_destroy_path, :class => "logout" %> </li>
            <% else %>
              <li> <%= link_to t(:login), logins_new_path %> </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="main">
    <% if flash[:notice] %>
      <p class="notice">  <%= flash[:notice] %>       </p>
    <% end %>
    <% if flash[:error] %>
      <p class="error">   Error: <%= flash[:error] %> </p>
    <% end %>
    <% if flash[:message] %>
      <p class="message"> <%= flash[:message] %>      </p>
    <% end %>
    <div id="content-wrapper">
      <div id="content">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
