<!DOCTYPE html>
<html>
<head>
  <title><%= t(:IT_service_inventory) %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "https://www.google.com/jsapi" %>
  <script type="text/javascript">
    // Load the Visualization API and the piechart package.
    google.load('visualization', '1.0', {'packages':['corechart']});
  </script>
  <!-- Loads jquery tools library -->
  <script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
  <%= stylesheet_link_tag "redmine" %>
  <!-- The following line will load an additional "theme" stylesheet for the application later on.
       Currently however, there are no themes and thus it is commented out for the time being. -->
  <!-- <%# stylesheet_link_tag @current_theme %> -->
  <%= csrf_meta_tags %>
</head>
<body class="theme-Osu highrise controller-issues action-index">
  <div id="wrapper">
    <div id="wrapper2">
      <div id="top-menu">
        <div id="loggedas">
          <% if session[:current_user_name] %>
            <%= t(:logged_in_as) %>
            <%= link_to session[:current_user_name],
                user_settings_employee_path(session[:current_user_id]) %>
          <% end %>
          <% if session[:current_user_id] %>
            &nbsp&nbsp
            <%= link_to t(:logout), logins_destroy_path, :class => "logout" %>
          <% else %>
             <%= link_to t(:login), logins_new_path %>
          <% end %>
        </div>
        <ul>
          <li><%= link_to t(:home), pages_home_path %> </li>
          <li><%= link_to t(:employees), employees_path %></li>
          <li><%= link_to t(:groups), groups_path %></li>
          <% if can? :update, Service %>
            <li><%= link_to t(:services), services_path %></li>
          <% end %>
          <% if can? :manage, AppSetting %>
            <li><%= link_to t(:settings), app_settings_path %></li>
          <% end %>
        </ul>
      </div>
      <div id="header">
        <h1> IT Service Inventory </h1>
      </div>
      <div id="main">
        <% if flash[:notice] %>
          <p class="notice">
            <%= flash[:notice] %>
          </p>
        <% end %>
        <% if flash[:error] %>
          <p class="error">
            Error: 
            <%= flash[:error] %>
          </p>
        <% end %>
        <div id="content">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
