<!DOCTYPE HTML>
<!--[if lte IE 7]> <html lang="en" class="ie ie7"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="ie ie8"> <![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
<head>
  <title><%= t(:IT_service_inventory) %></title>
  <%# stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "https://www.google.com/jsapi" %>
  <script type="text/javascript">
    // Load the Visualization API and the piechart package.
    google.load('visualization', '1.0', {packages:['corechart']});
  </script>
  <%= stylesheet_link_tag "bootstrap" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "bootstrap-responsive" %>
  <%= stylesheet_link_tag "select2" %>
  <%= stylesheet_link_tag "fte_calculator" %>
  <%= stylesheet_link_tag "i_love_pie" %>
  <!-- The following line will load an additional "theme" stylesheet for the application later on.
       Currently however, there are no themes and thus it is commented out for the time being. -->
  <!-- <%# stylesheet_link_tag @current_theme %> -->
  <%= csrf_meta_tags %>
</head>




<body>
  <span id="overall-container" class="two-navs">
    <div id="page-header" class="navbar">
      <div class="navbar-fixed-top"> <!-- add navbar-fixed-top to make it anchored to top -->
        <div class="navbar-inner">
          <div class="container"> 
            
            
            <span class="logo">
              <%= image_tag(
                  "http://oregonstate.edu/osuhomepage/regions/top-hat/current/images/osu-tag.png",
                  {:height => 75, :width => 75}) %>
            </span>

            
            <span class="brand">
              <%= link_to t(:IT_service_inventory), pages_home_path %>
            </span>            


            <div id="nav1">
              <% unless @current_user.blank? %>
                <ul class="nav pull-right" id="login">
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      <i class="icon-user icon-white"></i>
                      <%= @current_user.full_name %>
                      <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li>
                        <%= link_to t(:user_settings), user_settings_employee_path(@current_user.id) %>
                      </li>
                      <li>
                        <%= link_to t(:profile), edit_employee_path(@current_user.id) %>
                      </li>
                      <li>
                        <%= link_to t(:logout), logins_destroy_path %> 
                      </li>
                    </ul>
                  </li>
                </ul>
              <% end %>
            </div>
            
            
            
            <div id="nav2">
              <button data-target=".nav-collapse" data-toggle="collapse" 
                class="btn btn-navbar" type="button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div class="nav-collapse collapse">
                <ul class="nav">
                  <li>
                    <%= link_to "#{content_tag :em, '', :class => ''}
                                 #{t(:services)}".html_safe, services_path, 
                                 :class => cp(services_path) %>
                  </li>
                  <li>
                    <%= link_to "#{content_tag :em, '', :class => ''}
                                 #{t(:employees)}".html_safe, employees_path, 
                                 :class => cp(employees_path) %>
                  </li>
                  <li>
                    <%= link_to "#{content_tag :em, '', :class => ''}
                                 #{t(:groups)}".html_safe, groups_path, 
                                 :class => cp(groups_path) %>
                  </li>
                  <li>
                    <%= link_to "#{content_tag :em, '', :class => ''}
                                 #{t(:portfolios)}".html_safe, portfolios_path, 
                                 :class => cp(portfolios_path) %>
                  </li>
                  <li>
                    <%= link_to "#{content_tag :em, '', :class => ''}
                                 #{t(:products)}".html_safe, products_path, 
                                 :class => cp(products_path) %>
                  </li>
                  <% if can? :manage, AppSetting %>
                    <li> 
                      <%= link_to "#{content_tag :em, '', :class => ''}
                                   #{t(:settings)}".html_safe, app_settings_path, 
                                   :class => cp(app_settings_path) %>
                    </li>
                  <% end %>
                  <% unless @current_user.blank? %>
                    <li class="dropdown" id="login-collapse">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="icon-user icon-white"></i>
                        <%= @current_user.full_name %>
                        <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu">
                        <li>
                          <%= link_to t(:user_settings), user_settings_employee_path(@current_user.id) %>
                        </li>
                        <li>
                          <%= link_to t(:profile), edit_employee_path(@current_user.id) %>
                        </li>
                        <li>
                          <%= link_to t(:logout), logins_destroy_path %> 
                        </li>
                      </ul>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    
    
    <div class="container" id="page-content">
      <div class="row" id="flash">
        <% if flash[:notice] %>
          <div class="alert alert-block alert-success fade in">  
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            <h4> Success </h4>
            <p><%= flash[:notice] %> </p>
          </div>
        <% end %>
        <% if flash[:error] %>
          <div class="alert alert-block alert-error fade in">  
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            <h4> Error </h4>
            <p><%= flash[:error] %> </p>
          </div>
        <% end %>
        <% if flash[:message] %>
          <div class="alert alert-block alert-info fade in">  
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            <h4> Heads Up </h4>
            <p><%= flash[:message] %> </p>
          </div>
        <% end %>
      </div>
      <div class="row">
        <div id="content">
          <%= yield %>
        </div>
      </div>
    </div>
    
    
    
    <div id="footer">
      <div class="container">
        <div class="row">
          &nbsp;
        </div>
      </div>
    </div>
  </span>
</body>
</html>
