<!DOCTYPE html>
<html>
<head>
  <title>Project1</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<ul>
		<!--<li><%= link_to "Home", root_path %></li>-->
		<li><%= link_to "Home", employees_home_path %> </li>
		<li><%= link_to "Employees", employees_path %></li>
		<li><%= link_to "Groups", groups_path %></li>
		<li><%= link_to "Services", services_path %></li>
	</ul>
<%= yield %>
</body>
</html>
